/*Шапка*/
.header__block {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.header__box {
  align-items: center;
  background: $headerBack;
  display: flex;
  justify-content: space-between;
  min-height: 66px;
  padding: 0 20px;
}

.header__logo {
  background: url(../img/common/logo.svg) no-repeat 1px 0;
  color: transparent;
  font-size: 1px;
  margin-top: -1px;
  height: 23px;
  width: 74px;
  &:hover,
  &:focus {
    background: url(../img/common/logo-hov.svg) no-repeat 1px 0;
    outline: none;
  }
  &:active {
    background: url(../img/common/logo.svg) no-repeat 1px 0;
    opacity: .3;
  }
}

.nav__btn {
  background: url(../img/common/nav.svg) no-repeat 0 0;
  border: none;
  color: transparent;
  font-size: 1px;
  height: 24px;
  width: 50px;
  &:hover,
  &:focus {
    background: url(../img/common/nav-hov.svg) no-repeat 0 0;
    outline: none;
  }
  &:active {
    opacity: .3;
  }
}

.nav__box {
  display: none;
}

.nav__box--show {
  display: flex;
}

.header--open {
  background: $colorText;
  border-bottom: 1px solid $bl;
  min-height: 69px;
}

.btn--close {
  background: none;
  height: 26px;
  position: relative;
  width: 23px;
  &::before {
    background: $wh;
    border-radius: 2px;
    content: '';
    height: 3px;
    left: -2px;
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    width: 30px;
  }
  &::after {
    background: $wh;
    border-radius: 2px;
    content: '';
    height: 3px;
    left: -2px;
    position: absolute;
    transform: rotate(135deg);
    top: 10px;
    width: 30px;
  }
  &:hover,
  &:focus {
    background: none;
  }
}

.btn--close:hover::before,
.btn--close:hover::after {
  background: $pink;
}

.nav__list {
  align-items: center;
  background: $colorText;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  width: 100%;
}

.nav__item {
  align-items: center;
  border-bottom: 1px solid $bl;
  border-top: 1px solid $navBorder;
  color: $wh;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  justify-content: center;
  min-height: 62px;
  text-decoration: none;
  text-transform: uppercase;
  width: 320px;
  &:hover,
  &:focus {
    color: $pink;
    outline: none;
  }
  &:active {
    opacity: .3;
  }
}

/*@media (min-width: 660px) {
  .header__box {
    min-height: 110px;
  }

  .header__logo {
    background: url(../img/common/logo-tab.svg) no-repeat 1px 0;
    margin-top: -15px;
    height: 40px;
    width: 150px;
    &:hover,
    &:focus {
      background: url(../img/common/logo-tab-hov.svg) no-repeat 1px 0;
    }
    &:active {
      background: url(../img/common/logo-tab.svg) no-repeat 1px 0;
    }
  }

  .nav__item {
    width: 660px;
  }

  .btn--close {
    right: 1px;
    top: 3px;
  }
}

@media (min-width: 1200px) {
  .header__box {
    padding: 0 130px;
  }

  .header__logo {
    background: url(../img/common/logo-desk.svg) no-repeat 1px 0;
    position: relative;
    z-index: 10;
    &:active {
      background: url(../img/common/logo-desk.svg) no-repeat 1px 0;
    }
  }

  .nav__btn {
    display: none;
  }

  .nav__box {
    display: flex;
    position: absolute;
  }

  .nav__list {
    background: transparent;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 447px;
    width: 622px;
  }

  .nav__item {
    border: none;
    font-weight: 400;
    line-height: 18px;
    min-height: 110px;
    text-transform: none;
    width: auto;
    &:active {
      color: $wh;
    }
  }
}*/





