@charset "UTF-8";
/*Шрифты*/
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/Regular/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans/Regular/OpenSans.woff") format("woff"), url("../fonts/OpenSans/Regular/OpenSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/Light/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSans/Light/OpenSansLight.woff") format("woff"), url("../fonts/OpenSans/Light/OpenSansLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/Bold/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSans/Bold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSans/Bold/OpenSansBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/SemiBold/OpenSansSemiBold.woff2") format("woff2"), url("../fonts/OpenSans/SemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSans/SemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

/*Цвета*/
/*Каркас*/
body {
  color: #283645;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 320px; }

.title__hidden {
  color: transparent;
  font-size: 1px;
  position: absolute; }

@media (min-width: 660px) {
  .container {
    width: 660px; } }

@media (min-width: 1200px) {
  .container {
    position: relative;
    width: 1200px; } }

/*Шапка*/
.header__block {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2; }

.header__box {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  min-height: 66px;
  padding: 0 20px; }

.header__logo {
  background: url(../img/common/logo.svg) no-repeat 1px 0;
  color: transparent;
  font-size: 1px;
  margin-top: -1px;
  height: 23px;
  width: 74px; }
  .header__logo:hover, .header__logo:focus {
    background: url(../img/common/logo-hov.svg) no-repeat 1px 0;
    outline: none; }
  .header__logo:active {
    background: url(../img/common/logo.svg) no-repeat 1px 0;
    opacity: .3; }

.nav__btn {
  background: url(../img/common/nav.svg) no-repeat 0 0;
  border: none;
  color: transparent;
  font-size: 1px;
  height: 24px;
  width: 50px; }
  .nav__btn:hover, .nav__btn:focus {
    background: url(../img/common/nav-hov.svg) no-repeat 0 0;
    outline: none; }
  .nav__btn:active {
    opacity: .3; }

.nav__box {
  display: none; }

.nav__box--show {
  display: flex; }

.header--open {
  background: #283645;
  border-bottom: 1px solid #000;
  min-height: 69px; }

.btn--close {
  background: none;
  height: 26px;
  position: relative;
  width: 23px; }
  .btn--close::before {
    background: #fff;
    border-radius: 2px;
    content: '';
    height: 3px;
    left: -2px;
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    width: 30px; }
  .btn--close::after {
    background: #fff;
    border-radius: 2px;
    content: '';
    height: 3px;
    left: -2px;
    position: absolute;
    transform: rotate(135deg);
    top: 10px;
    width: 30px; }
  .btn--close:hover, .btn--close:focus {
    background: none; }

.btn--close:hover::before,
.btn--close:hover::after {
  background: #d22856; }

.nav__list {
  align-items: center;
  background: #283645;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  width: 100%; }

.nav__item {
  align-items: center;
  border-bottom: 1px solid #000;
  border-top: 1px solid #485461;
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  justify-content: center;
  min-height: 62px;
  text-decoration: none;
  text-transform: uppercase;
  width: 320px; }
  .nav__item:hover, .nav__item:focus {
    color: #d22856;
    outline: none; }
  .nav__item:active {
    opacity: .3; }

@media (min-width: 660px) {
  .header__box {
    min-height: 110px; }
  .header__logo {
    background: url(../img/common/logo-tab.svg) no-repeat 1px 0;
    margin-top: -15px;
    height: 40px;
    width: 150px; }
    .header__logo:hover, .header__logo:focus {
      background: url(../img/common/logo-tab-hov.svg) no-repeat 1px 0; }
    .header__logo:active {
      background: url(../img/common/logo-tab.svg) no-repeat 1px 0; }
  .nav__item {
    width: 660px; }
  .btn--close {
    right: 1px;
    top: 3px; } }

@media (min-width: 1200px) {
  .header__box {
    padding: 0 130px; }
  .header__logo {
    background: url(../img/common/logo-desk.svg) no-repeat 1px 0;
    position: relative;
    z-index: 10; }
    .header__logo:active {
      background: url(../img/common/logo-desk.svg) no-repeat 1px 0; }
  .nav__btn {
    display: none; }
  .nav__box {
    display: flex;
    position: absolute; }
  .nav__list {
    background: transparent;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 447px;
    width: 622px; }
  .nav__item {
    border: none;
    font-weight: 400;
    line-height: 18px;
    min-height: 110px;
    text-transform: none;
    width: auto; }
    .nav__item:active {
      color: #fff; } }

/*Интро*/
.intro__block {
  background: url(../img/common/iphone.png) no-repeat 0 174px, url(../img/common/screen.jpg) no-repeat center 208px, url(../img/common/back-mobile.jpg) no-repeat center 0;
  margin-top: -66px;
  padding-top: 461px;
  position: relative;
  z-index: 1; }

.intro__info {
  align-items: center;
  background: #1d2631;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px; }

.intro__btn {
  align-items: center;
  border: 3px solid #fff;
  border-radius: 30px;
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 49px;
  line-height: 18px;
  justify-content: center;
  margin-top: 27px;
  text-decoration: none;
  width: 275px; }
  .intro__btn:hover, .intro__btn:focus {
    background: #fff;
    color: #d22856;
    outline: none; }
  .intro__btn:active {
    color: rgba(210, 40, 86, 0.3); }

.platform__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 32px;
  padding-left: 0;
  width: 207px; }

.platform__list li {
  align-items: flex-end;
  display: flex; }

.intro__text {
  color: #fff;
  font-weight: 300;
  line-height: 24px;
  margin-top: 8px;
  text-align: center;
  width: 233px; }

.intro__moto {
  display: none; }

.intro--catalog {
  background: url(../img/common/back-mobile.jpg) no-repeat center 0;
  display: flex;
  justify-content: center;
  padding: 115px 0 35px 0; }

.title--form {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin-top: -20px;
  text-align: center;
  width: 230px; }

@media (min-width: 660px) {
  .intro__block {
    background: url(../img/common/iphone-tab.png) no-repeat 0 bottom, url(../img/common/screen-tab.jpg) no-repeat 370px 238px, url(../img/common/back-tab.jpg) no-repeat center 0;
    margin-top: -110px;
    padding: 162px 0 75px 0; }
  .intro__info {
    background: none;
    margin-left: 20px;
    width: 300px; }
  .intro__moto {
    color: #fff;
    display: block;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    width: 190px; }
  .intro__btn {
    margin-top: -7px;
    width: 290px; }
  .platform__list {
    margin-top: 43px; }
  .intro__text {
    font-size: 18px;
    margin-top: 25px;
    width: 100%; }
  .intro--catalog {
    background: url(../img/common/back-tab.jpg) no-repeat center 0;
    padding: 115px 0 45px 0; }
  .title--form {
    font-size: 50px;
    line-height: 60px;
    margin-top: 66px;
    width: 475px; } }

@media (min-width: 1200px) {
  .intro__block {
    background: url(../img/common/iphone-desk.png) no-repeat 145px bottom, url(../img/common/screen-desk.jpg) no-repeat 715px 270px, url(../img/common/back-desk.jpg) no-repeat center 0;
    padding: 169px 0 85px 0; }
  .intro__moto {
    font-size: 50px;
    line-height: 60px;
    width: 235px; }
  .intro__info {
    margin-left: 120px;
    width: 320px; }
  .intro__btn {
    margin-top: 0;
    font-size: 21px; }
  .platform__list {
    margin-top: 66px; }
  .intro__text {
    margin-top: 45px; }
  .intro--catalog {
    background: url(../img/common/back-desk.jpg) no-repeat center 0;
    padding: 115px 0 68px 0; }
  .title--form {
    margin-top: 58px;
    width: 750px; } }

/*Преимущества*/
.features__block {
  align-items: center;
  display: flex;
  flex-direction: column; }

.features__quest,
.features__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 43px;
  position: relative;
  text-align: center;
  z-index: 1; }

.features__title {
  margin: 30px 0 0 0; }

.features__box {
  background: url(../img/index/iphone-screen.png) no-repeat center 108.5%, url(../img/index/feature-back.jpg) no-repeat 0 0;
  margin: -10px 0 0 0;
  padding: 103px 0 307px 0;
  width: 100%; }

.feature {
  align-items: center;
  display: flex;
  flex-direction: column; }

.feature__title {
  font-size: 18px;
  line-height: 24px;
  margin: 23px 0 0 0; }

.feature__text {
  line-height: 24px;
  margin: 8px 0 12px 0;
  text-align: center;
  width: 260px; }

.tab__gap {
  display: none; }

.desk__gap {
  display: none; }

@media (min-width: 660px) {
  .features__block {
    background: url(../img/index/smile.jpg) no-repeat 33px 304px, url(../img/index/iphone-screen-tab.jpg) no-repeat 20px 138%, url(../img/index/feature-back-tab.jpg) no-repeat 0 215px; }
  .features__quest,
  .features__title {
    font-size: 40px;
    line-height: 48px;
    margin-top: 50px; }
  .features__title {
    margin: 0;
    width: 340px; }
  .features__box {
    background: none;
    margin: -5px 0 0 310px;
    padding: 103px 0 30px 0;
    width: 310px; }
  .feature {
    align-items: flex-start;
    display: flex;
    flex-direction: column; }
  .feature__text {
    line-height: 24px;
    margin: 10px 0 13px 0;
    text-align: left;
    width: 310px; }
  .tab__gap {
    display: block; } }

@media (min-width: 1200px) {
  .features__block {
    background: url(../img/index/screen-smile.jpg) no-repeat 835px 365px, url(../img/index/screen-pink.jpg) no-repeat 515px 365px, url(../img/index/screen-grey.jpg) no-repeat 192px 365px, url(../img/index/iphone-feature-desk.png) no-repeat center 325px, url(../img/index/iphone-feature-desk.png) no-repeat 185px 325px, url(../img/index/iphone-feature-desk.png) no-repeat 825px 325px, url(../img/index/feature-back-desk.jpg) no-repeat 0 320px; }
  .features__quest,
  .features__title {
    font-size: 50px;
    line-height: 59px;
    margin-top: 69px; }
  .features__title {
    margin: 1px;
    width: 420px; }
  .features__box {
    display: flex;
    justify-content: space-between;
    margin: 378px 0 0 0;
    padding: 0;
    width: 910px; }
  .feature {
    align-items: center;
    background: #f2f2f2;
    padding-top: 32px;
    position: relative;
    width: 270px;
    z-index: 20; }
    .feature::before {
      background: url(../img/index/shadow.png) no-repeat center -3px;
      content: '';
      height: 5px;
      position: absolute;
      top: -5px;
      width: 270px;
      z-index: 10; }
  .feature__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 225px; }
  .feature__text {
    font-size: 18px;
    line-height: 30px;
    margin: 26px 0 13px 0;
    text-align: center;
    width: 249px; }
  .tab__gap {
    display: none; } }

/*Время действия*/
.time__block {
  display: none; }

.desk__gap {
  display: none; }

@media (min-width: 660px) {
  .time__block {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: relative; }
    .time__block::before {
      color: #d22856;
      content: '24';
      font-size: 96px;
      font-weight: bold;
      left: 85px;
      position: absolute;
      top: 195px; }
    .time__block::after {
      border: 13px solid #d22856;
      border-radius: 50%;
      content: '';
      height: 175px;
      position: absolute;
      top: 115px;
      left: 40px;
      width: 175px;
      z-index: 10; }
  .timer__img {
    margin-top: 60px;
    height: 277px;
    width: 238px; }
  .time__info {
    width: 310px; }
  .time__title {
    font-size: 30px;
    line-height: 36px;
    padding-top: 67px;
    margin-bottom: 0;
    width: 168px; }
  .time__text {
    line-height: 24px;
    margin: 10px 0 8px 0;
    width: 297px; }
  .time__more {
    color: #d22856; }
    .time__more:hover, .time__more:focus {
      color: #000;
      outline: none; }
    .time__more:active {
      opacity: .3;
      text-decoration: none; } }

@media (min-width: 1200px) {
  .time__block {
    background: #f2f2f2;
    padding: 0 20px 67px 0; }
    .time__block::before {
      font-size: 120px;
      left: 210px;
      top: 230px; }
    .time__block::after {
      border: 17px solid #d22856;
      height: 218px;
      top: 125px;
      left: 153px;
      width: 218px; }
  .timer__img {
    margin: 55px 0 0 128px;
    height: 345px;
    width: 300px; }
  .time__info {
    margin-top: 116px;
    width: 685px; }
  .time__title {
    padding-top: 0;
    width: 100%; }
  .time__text {
    font-size: 18px;
    line-height: 30px;
    margin: 21px 0 32px 0;
    width: 552px; }
  .desk__gap {
    display: block; }
  .time__more {
    font-size: 18px; } }

/*Отзывы*/
.reviews__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2; }

.review {
  align-items: center;
  display: flex;
  flex-direction: column; }

.review__author {
  font-size: 18px;
  line-height: 31.5px;
  margin: 43px 0 0 0; }

.review__text {
  margin-top: 13px;
  text-align: center;
  width: 280px; }

.slider__list {
  display: flex;
  list-style: none;
  padding-left: 0; }

.slide__btn {
  background: #283645;
  border: 3px solid #fff;
  border-radius: 50%;
  color: transparent;
  display: flex;
  font-size: 1px;
  height: 6px;
  margin: 5px 6px;
  opacity: .3;
  width: 6px; }
  .slide__btn:hover, .slide__btn:focus {
    opacity: .6;
    outline: none; }
  .slide__btn:active {
    opacity: .1; }

.slide--active {
  background: #fff;
  border-color: #283645;
  opacity: 1; }

.author__info {
  display: none; }

.slide-btn__desk {
  display: none; }

@media (min-width: 660px) {
  .review__author {
    order: 1; }
  .author__info {
    display: block;
    order: 2;
    margin-top: 2px; }
  .review__text {
    font-size: 18px;
    margin-top: 97px;
    width: 620px; }
  .review__author {
    font-size: 20px;
    margin: 17px 0 0 0; }
  .slider__list {
    margin-top: 15px; } }

@media (min-width: 1200px) {
  .review {
    background: url(../img/index/quote.svg) no-repeat center 65px;
    background-size: 80px 78px; }
  .review__text {
    line-height: 31px;
    margin-top: 185px;
    width: 690px; }
  .review__author {
    font-size: 24px; }
  .author__info {
    font-size: 18px; }
  .slider__list {
    display: none; }
  .slide-btn__desk {
    background: transparent;
    border: none;
    color: transparent;
    display: block;
    font-size: 1px;
    height: 45px;
    left: 130px;
    opacity: .3;
    position: absolute;
    top: 212px;
    width: 23px; }
    .slide-btn__desk::before {
      background: #283645;
      content: '';
      height: 2px;
      left: -4px;
      position: absolute;
      top: 32px;
      transform: rotate(45deg);
      width: 30px; }
    .slide-btn__desk::after {
      background: #283645;
      content: '';
      height: 2px;
      left: -4px;
      position: absolute;
      top: 12px;
      transform: rotate(135deg);
      width: 30px; }
    .slide-btn__desk:hover, .slide-btn__desk:focus {
      opacity: .6;
      outline: none; }
    .slide-btn__desk:active {
      opacity: .1; }
  .previous--slide {
    left: 1045px;
    transform: rotate(180deg); } }

/*Пакеты услуг*/
.packets__block {
  align-items: center;
  background: url(../img/index/feature-back.jpg) no-repeat 0 0;
  display: flex;
  flex-direction: column;
  margin-top: -21px;
  padding: 419px 0 30px 0;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.packets__table {
  border-collapse: collapse;
  left: -535px;
  position: absolute;
  top: 135px; }

.packets__table tr {
  display: flex; }

.table__title {
  background: #283645;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  min-height: 80px;
  padding-top: 18px;
  text-transform: uppercase;
  width: 274px; }

.title__price {
  font-size: 24px;
  font-weight: 300; }

.table__cell {
  align-items: center;
  background: #fff;
  border-bottom: 2px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  display: flex;
  height: 57px;
  padding-left: 21px;
  text-transform: uppercase;
  width: 255px; }

.hit--packet {
  position: relative; }
  .hit--packet::before {
    background: url(../img/index/hit.png) no-repeat 0 0;
    content: '';
    height: 70px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 100px; }
  .hit--packet::after {
    content: 'Хит';
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 70px;
    left: -12px;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 100px; }

.cell--yes {
  position: relative; }
  .cell--yes::before {
    background: #3dc644;
    content: '';
    height: 3px;
    position: absolute;
    right: 37px;
    top: 34px;
    transform: rotate(45deg);
    width: 15px; }
  .cell--yes::after {
    background: #3dc644;
    border-radius: 6px;
    content: '';
    height: 3px;
    position: absolute;
    right: 17px;
    top: 29px;
    transform: rotate(135deg);
    width: 26px; }

.cell--not {
  position: relative; }
  .cell--not::before {
    background: #f25b26;
    content: '';
    height: 3px;
    position: absolute;
    right: 18px;
    top: 26px;
    transform: rotate(45deg);
    width: 35px; }
  .cell--not::after {
    background: #f25b26;
    border-radius: 6px;
    content: '';
    height: 3px;
    position: absolute;
    right: 18px;
    top: 26px;
    transform: rotate(135deg);
    width: 35px; }

.list--packets {
  margin-top: 33px; }

.hidden {
  display: none; }

@media (min-width: 660px) {
  .packets__block {
    background: url(../img/index/feature-back-tab.jpg) no-repeat 0 0;
    padding: 110px 0 65px 0; }
  .packets__table {
    position: static; }
  .table__title {
    border-radius: 3px;
    font-size: 16px;
    min-height: 66px;
    padding-top: 14px;
    width: 152px; }
  .title__price {
    font-size: 18px;
    margin-top: -2px; }
  .table__cell {
    display: flex;
    height: 43px;
    padding-left: 17px;
    text-transform: none;
    width: 136px; }
  .empty--cell {
    visibility: hidden; }
  .hit--packet::before {
    background: url(../img/index/hit-small.png) no-repeat 0 0;
    left: 0; }
  .hit--packet::after {
    left: -17px;
    top: -1px; }
  .cell--yes {
    color: transparent;
    font-size: 1px; }
    .cell--yes::before {
      right: 78px;
      top: 24px; }
    .cell--yes::after {
      right: 59px;
      top: 21px; }
  .cell--not {
    color: transparent;
    font-size: 1px; }
    .cell--not::before {
      right: 59px;
      top: 20px; }
    .cell--not::after {
      right: 59px;
      top: 20px; }
  .list--packets {
    display: none; } }

@media (min-width: 1200px) {
  .packets__block {
    background: url(../img/index/feature-back-desk.jpg) no-repeat 0 30px;
    padding: 192px 0 95px 0; }
  .title__price {
    font-size: 24px;
    margin-top: 2px; }
  .table__title {
    font-size: 18px;
    min-height: 82px;
    padding-top: 15px;
    width: 231px; }
  .hit--packet::before {
    background: url(../img/index/hit.png) no-repeat 0 0; }
  .hit--packet::after {
    left: -12px;
    top: 5px; }
  .table__cell {
    font-size: 18px;
    height: 57px;
    padding-left: 20px;
    width: 212px; }
  .cell--yes::before {
    right: 118px;
    top: 34px; }
  .cell--yes::after {
    right: 99px;
    top: 30px; }
  .cell--not::before {
    right: 100px;
    top: 27px; }
  .cell--not::after {
    right: 100px;
    top: 27px; } }

/*Контакты*/
.contacts__block {
  align-items: center;
  display: flex;
  flex-direction: column; }

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 40px;
  text-align: center; }

.contact__way {
  font-size: 18px;
  text-align: center;
  margin: 13px 0 0 0; }

.contact__info {
  color: #d22856;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  margin: -1px 0 0 0;
  text-align: center;
  text-decoration: none;
  width: 240px; }

.contact__email {
  position: relative;
  z-index: 1; }
  .contact__email:hover, .contact__email:focus {
    color: #000;
    outline: none;
    text-decoration: underline; }
  .contact__email:active {
    opacity: .3;
    text-decoration: none; }

.contact__box {
  margin: 0 0 8px 0; }

.contact__map {
  background: url(../img/index/triang.png) no-repeat 0 -88px;
  height: 200px;
  margin-top: 30px;
  width: 100%; }

.map {
  height: 200px;
  position: relative;
  width: 100%;
  z-index: -1; }

.box--2 {
  left: 1px;
  position: relative;
  top: 5px; }

@media (min-width: 660px) {
  .contacts__title {
    font-size: 40px;
    line-height: 48px;
    margin: 47px 0 0 0;
    width: 370px; }
  .contact__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 20px 0;
    width: 562px; }
  .contact__map {
    background: url(../img/index/triang-tab.png) no-repeat 0 -57px;
    height: 370px;
    margin-top: 23px; }
  .map {
    height: 371px; }
  .box--2 {
    position: static; } }

@media (min-width: 1200px) {
  .contacts__title {
    font-size: 50px;
    line-height: 59px;
    margin: 65px 0 0 0;
    width: 470px; }
  .contact__info {
    margin: 20px 0 0 0; }
  .contact__wrapper {
    margin: 41px 0 23px 0;
    width: 880px; }
  .contact__email {
    top: 23px; }
  .box--3 {
    margin: -121px 0 0 -2px; }
  .contact__map {
    background: url(../img/index/triang-desk.png) no-repeat 0 -25px;
    height: 500px;
    margin-top: 23px; }
  .map {
    height: 500px; } }

/*Подвал*/
.footer__block {
  align-items: center;
  display: none;
  flex-direction: column;
  padding-bottom: 40px; }

.footer--page {
  display: flex; }

.footer__logo {
  background: url(../img/common/footer-logo.svg) no-repeat 0 0;
  color: transparent;
  display: block;
  font-size: 1px;
  height: 40px;
  margin-top: 43px;
  width: 150px; }
  .footer__logo:hover, .footer__logo:focus {
    background: url(../img/common/logo-tab-hov.svg) no-repeat 1px 0;
    outline: none; }
  .footer__logo:active {
    background: url(../img/common/footer-logo.svg) no-repeat 0 0;
    opacity: .3; }

.list__media {
  display: flex;
  list-style: none;
  margin: 39px 0 0 -1px;
  padding-left: 0; }

.list__media li {
  margin: 0 6px; }

.media__item {
  align-items: center;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 45px; }
  .media__item:hover, .media__item:focus {
    border-color: #283645;
    outline: none; }
  .media__item:active {
    opacity: .3; }

.creator__box {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  width: 130px; }

.html-academy {
  background: url(../img/common/htmlacademy.png) no-repeat 100% center;
  color: transparent;
  font-size: 1px;
  height: 35px;
  width: 28px; }
  .html-academy:hover, .html-academy:focus {
    background: url(../img/common/html-hov.png) no-repeat 100% center;
    outline: none; }
  .html-academy:active {
    opacity: .3; }

.twitter__img {
  margin-top: 3px; }

@media (min-width: 660px) {
  .footer__block {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 127px;
    padding: 0 20px; }
  .footer--page {
    margin-top: 50px; }
  .footer__logo {
    margin-top: -10px; }
  .list__media {
    margin: 2px 0 0 -20px; }
  .creator__box {
    margin-top: 9px; } }

@media (min-width: 1200px) {
  .footer__block {
    min-height: 188px;
    padding: 0 130px; }
  .list__media {
    margin: 7px 0 0 5px; }
  .footer__logo {
    background: url(../img/common/footer-logo-desk.svg) no-repeat 0 0; }
    .footer__logo:active {
      background: url(../img/common/footer-logo-desk.svg) no-repeat 0 0; }
  .creator__box {
    font-size: 18px;
    margin-top: 12px;
    width: 154px; }
  .footer--page {
    margin-top: 0; } }

/*Поле личных данных*/
.form__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%; }

.form__text {
  margin-top: 46px;
  text-align: center;
  width: 280px; }

.desk__text {
  display: none; }

.form__block fieldset {
  border: none; }

.personal__field {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 21px; }

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px; }

.form__label {
  color: #d22856;
  font-size: 14px;
  margin: 0 0 6px 23px;
  text-transform: uppercase; }

.form__input {
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  font-size: 18px;
  height: 57px;
  padding-left: 21px;
  width: 257px; }
  .form__input:hover {
    border-color: #000; }
  .form__input:focus {
    border-color: #d22856;
    outline: none; }

@media (min-width: 660px) {
  .desk__text {
    display: inline; }
  .form__text {
    font-size: 18px;
    margin-top: 94px;
    width: 500px; }
  .personal__field {
    padding-top: 52px;
    order: 1;
    width: 620px; }
  .form__item {
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 52px; }
  .form__label {
    margin: 0 20px 6px 0; }
  .form__input {
    flex-grow: 1;
    padding-left: 19px; } }

@media (min-width: 1200px) {
  .form__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 968px; }
  .form__text {
    font-size: 18px;
    margin-top: 92px;
    width: 760px; }
  .personal__field {
    margin-top: 15px;
    width: 435px; } }

/*Поле достижений*/
.achievments__field {
  background: #f2f2f2;
  margin-top: -1px;
  padding-top: 61px;
  width: 300px; }

.form__legend {
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 54px;
  width: 220px; }

.field__item {
  margin: 37px 0 51px 9px; }

.field__item:last-of-type {
  margin-bottom: 36px; }

.achievments__field input[type='checkbox'] {
  margin: 0 0 0 7px;
  opacity: 0;
  position: absolute;
  z-index: -1; }

.achievments__field input[type='checkbox'] + label {
  cursor: pointer;
  font-size: 18px;
  padding: 0 0 15px 69px;
  position: relative; }

.achievments__field input[type='checkbox'] + label::before {
  background: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  content: "";
  height: 35px;
  left: 0;
  position: absolute;
  top: -7px;
  width: 35px; }

.achievments__field input[type='checkbox']:hover + label::before,
.achievments__field input[type='checkbox']:focus + label::before {
  border-color: #283645;
  outline: none; }

.achievments__field input[type='checkbox'] + label::after {
  content: "";
  height: 17px;
  left: 10px;
  opacity: 0;
  position: absolute;
  top: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 22px; }

.achievments__field input[type='checkbox']:checked + label::after {
  background: url(../img/form/tick.svg) no-repeat center;
  opacity: 1; }

.achievments__field input[type='checkbox']:active + label::before {
  border-color: #d22856; }

@media (min-width: 660px) {
  .form__block .achievments__field {
    background: none;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin-top: 56.5px;
    order: 4;
    padding-top: 12px;
    width: 598px; }
  .achievments__field .form__legend {
    width: 436px; }
  .field__item {
    margin: 37px 0 51px 49px; }
  .field__item:last-of-type {
    margin-bottom: 36px; }
  .achievments__field input[type='checkbox'] + label {
    padding: 0 0 15px 59px; }
  .field__item:last-of-type {
    margin-bottom: 42px; } }

@media (min-width: 1200px) {
  .form__block .achievments__field {
    margin: 56.5px 0 0 15px;
    padding: 12px 0 20px 0;
    width: 934px; }
  .achievments__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 57px;
    width: 840px; }
  .field__item {
    margin: 37px 0 13px 0;
    width: 260px; }
  .item--shark {
    order: 1; }
  .item--Chak {
    order: 2;
    margin-right: -48px; }
  .item--tower {
    order: 3;
    margin-right: -48px; }
  .item--beach {
    order: 4; }
  .item--shopping {
    order: 5; }
  .item--hotel {
    order: 6; } }

/*Поле контактов*/
.contact__field {
  margin-top: 27px; }

.contact--legend {
  display: none; }

@media (min-width: 660px) {
  .form__block .contact__field {
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin-top: 57px;
    order: 3;
    padding: 38px 0 0 0;
    width: 616px; }
  .form__block .contact--legend {
    display: block;
    width: 252px; }
  .contact__field .form__item {
    flex-direction: column-reverse;
    margin: 0 0 30px 40px;
    position: relative;
    width: 502px; }
    .contact__field .form__item::after {
      background: #e5e5e5;
      content: '';
      height: 62px;
      right: -15px;
      position: absolute;
      top: 0;
      width: 62px;
      z-index: -1; }
  .contact__field .form__item:last-of-type {
    margin-bottom: 26px; }
  .contact__field .form__input {
    margin-left: 18px;
    position: relative;
    width: 476px; }
  .contact__field .form__label {
    margin: 10px 0 0 36px; }
  .input--phone {
    background: url(../img/form/phone.svg) no-repeat 455px center;
    background-size: 20px 20px; }
  .input--email {
    background: url(../img/form/mail.svg) no-repeat 455px center;
    background-size: 20px 20px; } }

@media (min-width: 1200px) {
  .form__block .contact__field {
    margin: -3px 0 0 12px;
    padding-top: 35px;
    width: 938px; }
  .contact__box {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    width: 840px; }
  .contact__field .form__item {
    margin: 0 0 0 40px;
    width: 354px; }
    .contact__field .form__item::after {
      right: -38px;
      top: 0; }
  .input--phone {
    background: url(../img/form/phone.svg) no-repeat 332px center;
    background-size: 20px 20px; }
  .input--email {
    background: url(../img/form/mail.svg) no-repeat 332px center;
    background-size: 20px 20px; }
  .contact__field .form__input {
    position: relative;
    width: 352px; }
  .contact__field .form__item:last-of-type {
    margin-bottom: 6px; } }

/*Поле платформы*/
.os__field {
  background: #f2f2f2;
  margin-top: -1px;
  padding-top: 58px;
  width: 300px; }

.os__field input[type='radio'] {
  margin: 0 0 0 7px;
  opacity: 0;
  position: absolute;
  z-index: -1; }

.os__field input[type='radio'] + label {
  cursor: pointer;
  font-size: 18px;
  padding: 0 0 15px 69px;
  position: relative; }

.os__field input[type='radio'] + label::before {
  background: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  content: "";
  height: 35px;
  left: 0;
  position: absolute;
  top: -8px;
  width: 35px; }

.os__field input[type='radio']:hover + label::before,
.os__field input[type='radio']:focus + label::before {
  border-color: #283645;
  outline: none; }

.os__field input[type='radio'] + label::after {
  background: #d22856;
  border-radius: 50%;
  content: "";
  height: 15px;
  left: 11.8px;
  opacity: 0;
  position: absolute;
  top: 4.5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 15px; }

.os__field input[type='radio']:checked + label::after {
  opacity: 1; }

.os__field input[type='radio']:active + label::before {
  border-color: #d22856; }

.os__field .field__item {
  margin-bottom: 43.5px; }

.os__field .field__item:last-of-type {
  margin-bottom: 38px; }

@media (min-width: 660px) {
  .form__block .os__field {
    background: none;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 12px 0 18px 0;
    order: 2;
    width: 614px; }
  .form__legend {
    position: static;
    width: 368px; }
  .os__field .field__item {
    margin-left: 58px; }
  .os__field input[type='radio'] + label {
    padding: 0 0 15px 59px; } }

@media (min-width: 1200px) {
  .form__block .os__field {
    margin: -7px 16px 0 0;
    padding: 18px 0 18px 0;
    width: 428px; }
  .os__field .field__item {
    margin: 33px 0 43px 74px; } }

/*Поле сообщения*/
.message__box {
  border: 2px solid #e5e5e5;
  font-size: 18px;
  height: 166px;
  line-height: 30px;
  margin: 48px 0 0 0;
  padding: 15px 18px;
  width: 241px; }
  .message__box:hover {
    border-color: #000; }
  .message__box:focus {
    border-color: #d22856;
    outline: none; }

.message--legend {
  top: 37px; }

.form__btn {
  background: #2aab6d;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 63px;
  line-height: 30px;
  margin-top: 30px;
  text-transform: uppercase;
  width: 280px; }
  .form__btn:hover, .form__btn:focus {
    background: #1c9b5e;
    outline: none; }
  .form__btn:active {
    color: rgba(255, 255, 255, 0.3); }

.btn--disabled {
  background: #e5e5e5; }
  .btn--disabled:hover, .btn--disabled:focus {
    background: #e5e5e5; }
  .btn--disabled:active {
    color: #e5e5e5; }

.form__options {
  align-items: center;
  display: flex;
  flex-direction: column; }

.important__string {
  margin-top: 35px;
  text-transform: uppercase; }

.sign {
  color: #d22856; }

@media (min-width: 660px) {
  .form__block .message__field {
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin-top: 57px;
    order: 5;
    width: 596px; }
  .message__field .form__legend {
    width: 258px; }
  .message__box {
    height: 159px;
    margin: 32px 0 33px 47px;
    width: 460px; }
  .form__options {
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 36px;
    order: 6;
    width: 620px; }
  .form__btn {
    width: 300px; } }

@media (min-width: 1200px) {
  .form__block .message__field {
    margin: 54px 0 0 13px;
    width: 916px; }
  .message__box {
    height: 96px;
    margin: 28px 0 23px 47px;
    width: 780px; }
  .form__options {
    margin-left: 15px;
    width: 936px; } }

/*Модальные окна*/
.modal {
  align-items: center;
  background: #fff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%; }

.success__modal {
  bottom: 735px;
  height: 380px; }

.modal__title {
  font-size: 18px;
  margin: 37px 0 0 -1px; }

.modal__text {
  line-height: 24px;
  margin-top: 22px;
  text-align: center;
  width: 265px; }

.btn__box {
  align-items: center;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  height: 163px;
  margin-top: 18px;
  width: 100%; }

.btn__close {
  margin-top: -5px; }

.error__modal {
  bottom: 1300px;
  height: 290px; }

.error__text {
  margin: 23px 0 43px 0;
  width: 280px; }

@media (min-width: 660px) {
  .modal {
    left: 98px;
    width: 464px; }
  .success__modal {
    bottom: 1194px;
    height: 460px; }
  .modal__title {
    font-size: 30px;
    line-height: 40px;
    margin: 65px 0 0 -2px;
    text-align: center;
    width: 205px; }
  .modal__text {
    font-size: 18px;
    width: 320px; }
  .error__modal {
    bottom: 1735px;
    height: 365px; }
  .error__title {
    margin-top: 36px;
    width: 215px; }
  .error__text {
    margin: 24px 0 43px 0;
    width: 300px; }
  .mob__gap {
    display: none; } }
