/*Поле достижений*/
.achievments__field {
  background: $featureBack;
  margin-top: -1px;
  padding-top: 61px;
  width: 300px;
}

.form__legend {
  color: $pink;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 54px;
  width: 220px;
}

.field__item {
  margin: 37px 0 51px 9px;
}

.field__item:last-of-type {
  margin-bottom: 36px;
}

.achievments__field input[type='checkbox'] {
  margin: 0 0 0 7px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.achievments__field input[type='checkbox'] + label {
  cursor: pointer;
  font-size: 18px;
  padding: 0 0 15px 69px;
  position: relative;
}

.achievments__field input[type='checkbox'] + label::before {
  background: $wh;
  border: 2px solid $tableBorder;
  border-radius: 3px;
  content: "";
  height: 35px;
  left: 0;
  position: absolute;
  top: -7px;
  width: 35px;
}

.achievments__field input[type='checkbox']:hover + label::before,
.achievments__field input[type='checkbox']:focus + label::before {
  border-color: $colorText;
  outline: none;
}

.achievments__field input[type='checkbox'] + label::after {
  content: "";
  height: 17px;
  left: 10px;
  opacity: 0;
  position: absolute;
  top: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 22px;
}

.achievments__field input[type='checkbox']:checked + label::after {
  background: url(../img/form/tick.svg) no-repeat center;
  opacity: 1;
}

.achievments__field input[type='checkbox']:active + label::before {
  border-color: $pink;
}

@media (min-width: 660px) {
  .form__block .achievments__field {
    background: none;
    border: 2px solid $tableBorder;
    border-radius: 3px;
    margin-top: 56.5px;
    order: 4;
    padding-top: 12px;
    width: 598px;
  }

  .achievments__field .form__legend{
    width: 436px;
  }

  .field__item {
    margin: 37px 0 51px 49px;
  }

  .field__item:last-of-type {
    margin-bottom: 36px;
  }

  .achievments__field input[type='checkbox'] + label {
    padding: 0 0 15px 59px;
  }

  .field__item:last-of-type {
    margin-bottom: 42px;
  }
}

@media (min-width: 1200px) {
  .form__block .achievments__field {
    margin: 56.5px 0 0 15px;
    padding: 12px 0 20px 0;
    width: 934px;
  }

  .achievments__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 57px;
    width: 840px;
  }

  .field__item {
    margin: 37px 0 13px 0;
    width: 260px;
  }

  .item--shark {
    order: 1;
  }

  .item--Chak {
    order: 2;
    margin-right: -48px;
  }

  .item--tower {
    order: 3;
    margin-right: -48px;
  }

  .item--beach {
    order: 4;
  }

  .item--shopping {
    order: 5;
  }

  .item--hotel {
    order: 6;
  }
}

