/*Поле сообщения*/
.message__box {
  border: 2px solid $tableBorder;
  font-size: 18px;
  height: 166px;
  line-height: 30px;
  margin: 48px 0 0 0;
  padding: 15px 18px;
  width: 241px;
  &:hover {
    border-color: $bl;
  }
  &:focus {
    border-color: $pink;
    outline: none;
  }
}

.message--legend {
  top: 37px;
}

.form__btn {
  background: $formBtnBack;
  border: none;
  border-radius: 3px;
  color: $wh;
  font-size: 18px;
  font-weight: bold;
  height: 63px;
  line-height: 30px;
  margin-top: 30px;
  text-transform: uppercase;
  width: 280px;
  &:hover,
  &:focus {
    background: $btnAct;
    outline: none;
  }
  &:active {
    color: $whAct;
  }
}

.btn--disabled {
  background: $tableBorder;
  &:hover,
  &:focus {
    background: $tableBorder;
  }
  &:active {
    color: $tableBorder;
  }
}

.form__options {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.important__string {
  margin-top: 35px;
  text-transform: uppercase;
}

.sign {
  color: $pink;
}

@media (min-width: 660px) {
  .form__block .message__field {
    border: 2px solid $tableBorder;
    border-radius: 3px;
    margin-top: 57px;
    order: 5;
    width: 596px;
  }

  .message__field .form__legend {
    width: 258px;
  }

  .message__box {
    height: 159px;
    margin: 32px 0 33px 47px;
    width: 460px;
  }

  .form__options {
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 36px;
    order: 6;
    width: 620px;
  }

  .form__btn {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .form__block .message__field {
    margin: 54px 0 0 13px;
    width: 916px;
  }

  .message__box {
    height: 96px;
    margin: 28px 0 23px 47px;
    width: 780px;
  }

  .form__options {
    margin-left: 15px;
    width: 936px;
  }
}

