/*Модальные окна*/
.modal {
  align-items: center;
  background: $wh;
  box-shadow: 0 7px 15px $shadow;
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.success__modal {
  bottom: 735px;
  height: 380px;
}

.modal__title {
  font-size: 18px;
  margin: 37px 0 0 -1px;
}

.modal__text {
  line-height: 24px;
  margin-top: 22px;
  text-align: center;
  width: 265px;
}

.btn__box {
  align-items: center;
  background: $featureBack;
  display: flex;
  justify-content: center;
  height: 163px;
  margin-top: 18px;
  width: 100%;
}

.btn__close {
  margin-top: -5px;
}

.error__modal {
  bottom: 1300px;
  height: 290px;
}

.error__text {
  margin: 23px 0 43px 0;
  width: 280px;
}

@media (min-width: 660px) {
  .modal {
    left: 98px;
    width: 464px;
  }

  .success__modal {
    bottom: 1194px;
    height: 460px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
    margin: 65px 0 0 -2px;
    text-align: center;
    width: 205px;
  }

  .modal__text {
    font-size: 18px;
    width: 320px;
  }

  .error__modal {
    bottom: 1735px;
    height: 365px;
  }

  .error__title {
    margin-top: 36px;
    width: 215px;
  }

  .error__text {
    margin: 24px 0 43px 0;
    width: 300px;
  }

  .mob__gap {
    display: none;
  }
}

@media (min-width: 1200px) {
  .modal {
    left: 210px;
    width: 780px;
  }

  .success__modal {
    bottom: 395px;
    height: 370px;
  }

  .modal__title {
    margin: 33px 0 0 -2px;
    width: 400px;
  }

  .modal__text {
    width: 420px;
  }

  .btn__box {
    margin-top: 21px;
  }

  .btn__close {
    width: 460px;
  }

  .error__modal {
    bottom: 855px;
    height: 375px;
  }

  .error__title {
    margin-top: 42px;
  }

  .error__text {
    margin: 23px 0 43px -4px;
    width: 400px;
  }

  .btn__box--error {
    align-items: center;
    background: $featureBack;
    display: flex;
    justify-content: center;
    height: 163px;
    margin-top: 18px;
    width: 100%;
  }

  .error__modal .btn__close {
    width: 300px;
  }
}

