/*Поле платформы*/
.os__field {
  background: $featureBack;
  margin-top: -1px;
  padding-top: 58px;
  width: 300px;
}

.os__field input[type='radio'] {
  margin: 0 0 0 7px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.os__field input[type='radio'] + label {
  cursor: pointer;
  font-size: 18px;
  padding: 0 0 15px 69px;
  position: relative;
}

.os__field input[type='radio'] + label::before {
  background: $wh;
  border: 2px solid $tableBorder;
  border-radius: 50%;
  content: "";
  height: 35px;
  left: 0;
  position: absolute;
  top: -8px;
  width: 35px;
}

.os__field input[type='radio']:hover + label::before,
.os__field input[type='radio']:focus + label::before {
  border-color: $colorText;
  outline: none;
}

.os__field input[type='radio'] + label::after {
  background: $pink;
  border-radius: 50%;
  content: "";
  height: 15px;
  left: 11.8px;
  opacity: 0;
  position: absolute;
  top: 4.5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 15px;
}

.os__field input[type='radio']:checked + label::after {
  opacity: 1;
}

.os__field input[type='radio']:active + label::before {
  border-color: $pink;
}

.os__field .field__item {
  margin-bottom: 43.5px;
}

.os__field .field__item:last-of-type {
  margin-bottom: 38px;
}

@media (min-width: 660px) {
  .form__block .os__field {
    background: none;
    border: 2px solid $tableBorder;
    border-radius: 3px;
    padding: 12px 0 18px 0;
    order: 2;
    width: 614px;
  }

  .form__legend {
    position: static;
    width: 368px;
  }

  .os__field .field__item {
    margin-left: 58px;
  }

  .os__field input[type='radio'] + label {
    padding: 0 0 15px 59px;
  }
}
