/*Поле личных данных*/
.form__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__text {
  margin-top: 46px;
  text-align: center;
  width: 280px;
}

.desk__text {
  display: none;
}

.form__block fieldset {
  border: none;
}

.personal__field {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 21px;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.form__label {
  color: $pink;
  font-size: 14px;
  margin: 0 0 6px 23px;
  text-transform: uppercase;
}

.form__input {
  border: 2px solid $tableBorder;
  border-radius: 3px;
  font-size: 18px;
  height: 57px;
  padding-left: 21px;
  width: 257px;
  &:hover {
    border-color: $bl;
  }
  &:focus {
    border-color: $pink;
    outline: none;
  }
}

@media (min-width: 660px) {
  .desk__text {
    display: inline;
  }

  .form__text {
    font-size: 18px;
    margin-top: 94px;
    width: 500px;
  }

  .personal__field {
    padding-top: 52px;
    order: 1;
    width: 620px;
  }

  .form__item {
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 52px;
  }

  .form__label {
    margin: 0 20px 6px 0;
  }

  .form__input {
    flex-grow: 1;
    padding-left: 19px;
  }
}

@media (min-width: 1200px) {
  .form__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 968px;
  }

  .form__text {
    font-size: 18px;
    margin-top: 92px;
    width: 760px;
  }

  .personal__field {
    margin-top: 15px;
    width: 435px;
  }
}

