@charset "UTF-8";
/*Шрифты*/
@font-face {
  font-family: "Rubik";
  src: url("../source/fonts/Rubik/Rubik-Mono-Regular.ttf") format("truetype"), url("../source/fonts/Rubik/Rubik-Mono-Regular.woff") format("woff"), url("../source/fonts/Rubik/Rubik-Mono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../source/fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../source/fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../source/fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../source/fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../source/fonts/Roboto/Roboto-Light.woff") format("woff"), url("../source/fonts/Roboto/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

/*Каркас*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  margin: 0;
  padding: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 320px; }

.hidden {
  color: transparent;
  font-size: 1px;
  position: absolute; }

/*Шапка*/
.header__block {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  padding: 0 20px 0 15px; }

.header__logo:hover, .menu__btn:hover, .nav__item:hover, .watch__btn:hover, .video-play__btn:hover, .header__logo:focus, .menu__btn:focus, .nav__item:focus, .watch__btn:focus, .video-play__btn:focus {
  opacity: .6;
  outline-color: transparent; }

.header__logo:active, .menu__btn:active, .nav__item:active, .watch__btn:active, .video-play__btn:active {
  opacity: .3; }

.header__logo {
  height: 30px;
  width: 120px; }

.header__anchor:focus {
  outline-color: transparent; }

.menu__btn {
  background: transparent url(../img/menu.jpg) no-repeat 0 0;
  border: none;
  color: transparent;
  font-size: 1px;
  height: 21px;
  width: 30px; }

.pagination {
  display: none; }

/*Навигация*/
.nav__block {
  align-items: center;
  display: none;
  flex-direction: column; }

.nav--show {
  display: flex; }

.nav__list {
  list-style: none;
  padding-left: 0;
  width: 100%; }

.nav__item {
  align-items: center;
  border-bottom: 1px solid #000;
  color: #000;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  min-height: 40px;
  text-decoration: none;
  text-transform: uppercase; }

/*Интро*/
.intro__block {
  background: url(../img/intro-fon.jpg) no-repeat 0 0;
  color: rgba(255, 255, 255, 0.8);
  min-height: 317px;
  padding: 113px 10px 0 10px; }

.intro__title {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 36px; }

.title__number {
  letter-spacing: -5px;
  padding-bottom: 0; }

.intro__moto {
  bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  width: 200px; }

.watch__btn {
  display: none; }

/*Преимущества*/
.features__block {
  padding-top: 12px; }

.section__title {
  color: #3a30f8;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase; }

/*Дизайн*/
.feature__title {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: center; }

.feature__text {
  line-height: 30px;
  padding: 8px 0 0 40px;
  width: 215px; }

.feature__characters {
  list-style: none;
  padding-top: 7px; }

.character__item {
  line-height: 25px;
  margin-bottom: 14px;
  padding-left: 38px;
  position: relative; }
  .character__item::before {
    background: #000;
    content: '';
    left: .5px;
    height: 5px;
    position: absolute;
    top: 11px;
    width: 30px; }

.feature__video {
  display: none; }

.design--btn,
.br__desk {
  display: none; }

/*Цвет*/
.color__block {
  padding-top: 33px; }

.color__text {
  line-height: 22.2px; }

.color__list {
  display: flex;
  list-style: none;
  padding: 13px 0 0 50px; }

.color__block input[type='radio'] {
  margin: 10px 0 0 7px;
  opacity: 0;
  position: absolute;
  z-index: -1; }

.color__block input[type='radio'] + label {
  cursor: pointer;
  padding: 0 0 15px 45px;
  position: relative; }

.color__block input[type='radio'] + label::before {
  border-radius: 50%;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: -6px;
  width: 20px; }

.color__block input[type='radio']:hover + label::before,
.color__block input[type='radio']:focus + label::before {
  opacity: .5;
  outline-color: transparent; }

.color__block input[type='radio'] + label::after {
  background: url(../img/arrow-part2.png) no-repeat center 100%, url(../img/arrow-part1.png) no-repeat center 0;
  content: "";
  height: 50px;
  left: 13px;
  opacity: 0;
  position: absolute;
  top: 20px;
  width: 10px; }

.color__block input[type='radio']:checked + label::after {
  opacity: 1; }

#yellow + label::before {
  background: #e2e837;
  left: -9px; }

#yellow + label::after {
  left: -5px; }

#blue + label::before {
  background: #00b6f1;
  left: -3px; }

#blue + label::after {
  left: 2px; }

#red + label::before {
  background: #e23232; }

#red + label::after {
  left: 5px; }

#grey + label::before {
  background: #f0efef;
  left: 3px; }

#grey + label::after {
  left: 8px; }

#black + label::before {
  background: #0c0c0c;
  left: 9px; }

.color__img {
  height: 261px;
  margin: 30px 0 0 10px;
  width: 300px; }

/*Индикаторы*/
.indicators__block {
  background: url(../img/indicators-back.jpg) no-repeat center 100%;
  padding: 52px 0 275px 0; }

.indicators__text {
  line-height: 24px;
  padding: 6px 0 0 11px; }

.text--2 {
  margin-top: -10px; }

/*Режимы*/
.modes__block {
  background: url(../img/modes-back.jpg) no-repeat center 97%;
  padding: 52px 0 342px 0; }

.modes__text {
  line-height: 25px;
  margin-top: -5px;
  width: 220px; }

.hovertrax {
  font-weight: bold; }

.modes__list {
  list-style: none;
  padding: 12px 0 0 80px; }

.modes__item {
  line-height: 22px;
  margin-bottom: 20px;
  position: relative; }
  .modes__item::before {
    background: #000;
    content: '';
    height: 5px;
    left: -38px;
    position: absolute;
    top: 7px;
    width: 20px; }

.modes__table {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 30px;
  width: 320px; }

.cell__value {
  color: #3a30f8;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 0; }

.value__system {
  font-size: 18px; }

.cell__name {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  padding-left: 10px;
  text-align: left; }

/*Аккумулятор*/
.battery__block {
  padding: 40px 0 1px 0; }

.battery__text {
  line-height: 24px;
  padding: 5px 0 0 11px;
  width: 300px; }

.battery__table {
  padding: 23px 0 0 32px; }

.value--battery {
  width: 150px; }

.name__battery--1 {
  padding: 12px 0 0 5px; }

.name__battery-2 {
  padding: 12px 0 0 3px; }

.battery__img {
  margin: -25px 0 0 10px; }

.br__tab {
  display: none; }

/*Электроника*/
.electronic__block {
  padding-top: 50px; }

.electronic__text {
  line-height: 25px;
  padding: 5px 0 0 21px;
  width: 260px; }

.text--type2 {
  margin-top: -11px;
  width: 275px; }

.electronic__list {
  display: flex;
  margin-top: 30px; }

.electronic__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.electronic__img--1 {
  height: 42px;
  margin-left: 15px;
  width: 54px; }

.electronic__img--2 {
  height: 22px;
  margin-left: 2px;
  width: 69px; }

.img__text {
  color: #666666;
  font-size: 14px;
  line-height: 18px;
  margin: 19px 0 0 15px; }

.type--2 {
  margin-left: 3px; }

.electronic__video {
  background: url(../img/electronic-poster-mob.jpg) no-repeat;
  height: 275px;
  margin-top: 28px;
  width: 320px; }

.video__wrapper {
  position: relative; }

.video-play__btn {
  background: rgba(255, 255, 255, 0.8) url(../img/play.png) no-repeat center center;
  border: none;
  border-radius: 50%;
  height: 60px;
  left: 130px;
  position: absolute;
  top: 138px;
  width: 60px; }

/*Характеристики*/
.characters__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 33px; }

.hovertrax__title {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 36px;
  margin-top: 25px;
  text-align: center;
  width: 200px; }

.char__num {
  margin-left: -6px; }

.character__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  padding-top: 23px; }

.img--body {
  height: 51px;
  position: relative;
  top: 5px;
  width: 68px; }

.img--wheel {
  height: 53px;
  position: relative;
  top: 5px;
  width: 53px; }

.img--power {
  height: 40px;
  position: relative;
  top: 10px;
  width: 49px; }

.img--weight {
  height: 52px;
  position: relative;
  top: 5px;
  width: 47px; }

.character__title {
  letter-spacing: 2px;
  line-height: 30px;
  padding-top: 0;
  text-transform: uppercase; }

.character__text {
  font-size: 14px;
  line-height: 25px;
  margin: -14px 0 0 -2px;
  text-align: center;
  width: 295px; }

.text--wheel {
  width: 210px; }

.title--power {
  margin-top: 26px; }

.text--power {
  width: 270px; }

.title--weight {
  margin-top: 24px; }

.text--weight {
  width: 215px; }

/*Потребители*/
.consumer__block {
  background: #3a2ff8;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  padding-bottom: 80px; }

.consumer__img {
  margin-top: -65px; }

.consumer__title {
  font-size: 14px;
  letter-spacing: .8px;
  line-height: 30px;
  margin: 19px 0 0 -2px;
  text-align: center;
  text-transform: uppercase; }

.consumer__text {
  line-height: 24px;
  padding: 9px 0 0 11px; }

.consumer__text--2 {
  margin-top: -13px;
  width: 248px; }

.catalog__btn {
  align-self: center;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 1, 0.2);
  color: #3a2ff8;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 1.2px;
  line-height: 30px;
  margin: 46px 0 0 25px;
  min-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  width: 270px; }
  .catalog__btn:hover, .catalog__btn:focus {
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 1, 0.2);
    outline: none; }
  .catalog__btn:active {
    opacity: .8; }

/*Футер*/
.footer__block {
  background: #292929;
  justify-content: center;
  margin-top: -12px; }

.footer__text {
  color: #605f5f;
  font-size: 12px;
  line-height: 30px;
  text-align: center; }

@media (min-width: 768px) {
  .container {
    width: 768px; }
  .header__block {
    min-height: 100px;
    padding: 0 22px; }
  .header__logo {
    height: 39px;
    position: relative;
    width: 157px;
    z-index: 10; }
  .menu__btn {
    display: none; }
  .nav__block {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    width: 768px;
    z-index: 2; }
  .nav__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 22px 0 0; }
  .nav__list:first-child {
    margin-left: 300px; }
  .nav__item {
    border-bottom: none;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 80px;
    padding-left: 9px;
    position: relative; }
  .nav__item--active::before {
    background: #3a30f8;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 20px; }
  .item--2 {
    margin-left: 10px; }
  .intro__block {
    background: url(../img/arrow-part-2.jpg) no-repeat 235px 225px, url(../img/arrow-part.jpg) no-repeat 249.5px 153px, url(../img/arrow-2-intro.jpg) no-repeat 250px 153px, url(../img/arrow-intro.jpg) no-repeat 53px 580px, url(../img/intro-fon-tab.jpg) no-repeat 100% 0;
    color: #000;
    min-height: 573px;
    padding: 195px 22px 0 24px;
    position: relative; }
  .intro__title {
    font-size: 64px;
    letter-spacing: 5px;
    line-height: 78px;
    margin-left: -4px;
    width: 520px; }
  .title__number {
    letter-spacing: -10px; }
  .intro__moto {
    bottom: 18px;
    font-size: 14px;
    width: 230px; }
  .watch__btn {
    color: #000;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 81px;
    letter-spacing: 1px;
    left: 245px;
    line-height: 14px;
    position: absolute;
    top: 65px;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(270deg);
    width: 75px; }
  .img--watch {
    position: relative;
    right: 5px;
    transform: rotate(90deg); }
  .section__title {
    left: 125px;
    position: relative;
    top: 159.5px; }
  .feature__block {
    display: flex;
    justify-content: space-between;
    margin-top: 0; }
  .design-info__wrapper {
    padding-top: 170px;
    width: 380px; }
  .feature__video {
    display: block;
    height: 600px;
    width: 375px; }
  .design__video {
    background: url(../img/poster-video-2-tab.jpg) no-repeat 0 0; }
  .feature__title {
    padding-left: 60px;
    text-align: left; }
  .feature__text {
    line-height: 30px;
    padding: 6px 0 0 58px; }
  .feature__characters {
    padding-top: 8.5px; }
  .character__item {
    padding-left: 58px;
    width: 200px; }
    .character__item::before {
      left: 17px;
      height: 5px;
      position: absolute;
      top: 11px;
      width: 30px; }
  .design--btn {
    display: block; }
  .color__block {
    padding: 70px 105px 0 0;
    position: relative; }
  .color-info__wrapper {
    padding: 100px 0 0 54px;
    width: 170px; }
  .color__text {
    line-height: 24px;
    width: 165px; }
  .color__list {
    right: -100px;
    position: absolute;
    top: 208px;
    transform: rotate(90deg); }
  .color__img {
    height: 300px;
    width: 344px; }
  .indicators__block {
    background: url(../img/poster-video-3-tab.jpg) no-repeat center 100%;
    padding: 82px 0 347px 53px;
    position: relative; }
  .indicators__text {
    padding: 6px 0 0 61px;
    width: 570px; }
  .text--2 {
    width: 570px; }
  .carry {
    display: none; }
  .watch--indicators {
    left: 70px;
    top: 453px; }
  .modes__block {
    background: none;
    display: flex;
    justify-content: space-between;
    padding: 52px 0 125px 0;
    position: relative; }
  .modes__wrapper {
    padding: 130px 0 0 30px;
    width: 250px; }
  .modes__text {
    margin-top: 2px;
    line-height: 24px;
    padding-left: 61px; }
  .modes__list {
    padding: 10px 0 0 100px; }
  .modes__item {
    line-height: 22px;
    margin-bottom: 20px;
    position: relative;
    width: 175px; }
    .modes__item::before {
      left: -35px;
      top: 8px; }
  .modes__table {
    padding-left: 55px; }
  .value--two {
    bottom: 3px;
    position: relative; }
  .cell__name {
    padding-left: 8px; }
  .modes__video {
    background: url(../img/video-4-tab.jpg) no-repeat 0 0;
    height: 600px;
    margin-top: 50px;
    width: 394px; }
  .modes--watch {
    left: 328px;
    top: 597px; }
  .battery__block {
    display: flex;
    padding-bottom: 0;
    padding-top: 0; }
  .br__tab {
    display: block; }
  .battery__wrapper {
    order: 1; }
  .battery__title {
    padding-left: 34px; }
  .battery__text {
    line-height: 24px;
    padding: 5px 0 0 31px;
    width: 353px; }
  .battery__table {
    left: 55px;
    position: relative;
    top: 215px; }
  .battery__img {
    left: 10px;
    margin: -110px 0 0 10px;
    position: relative; }
  .value--battery {
    padding-bottom: 3px; }
  .name__battery-2 {
    right: 6px;
    position: relative; }
  .battery--2 {
    right: 7px;
    position: relative; }
  .electronic__block {
    align-items: center;
    display: flex;
    flex-direction: column; }
  .electronic__wrapper {
    display: flex;
    justify-content: space-between;
    order: 1;
    margin-top: 33px;
    width: 578px; }
  .electronic__title {
    padding-left: 0; }
  .electronic__text {
    padding: 5px 0 0 0; }
  .electronic__list {
    flex-direction: column;
    margin: 46.5px 123px 0 0; }
  .electronic__item {
    margin-bottom: 36px;
    width: 80px; }
  .electronic--2 {
    left: 15px;
    position: relative; }
  .electronic__img--1 {
    margin: 3px 0 0 15px; }
  .img__text {
    margin-top: 17px; }
  .electronic__video {
    background: url(../img/video-3-tab.jpg) no-repeat;
    height: 275px;
    margin-top: 65px;
    width: 578px; }
  .video-play__btn {
    background: rgba(255, 255, 255, 0.8) url(../img/play-tab.png) no-repeat 35px center;
    height: 100px;
    left: 113px;
    top: 250px;
    width: 100px; }
  .electronic--play {
    left: 240px;
    top: 155px; }
  .design--btn {
    left: 115px;
    top: 252px; }
  .characters__block {
    background: url(../img/character-back.jpg) no-repeat 0 105px;
    margin-top: 3px; }
  .character__wrapper {
    padding-left: 465px; }
  .characters__title {
    left: -80px;
    top: 130px; }
  .hovertrax__title {
    margin: 166px 0 0 -80px;
    text-align: left; }
  .char__num {
    letter-spacing: -2.5px;
    margin-left: 0; }
  .character__wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    width: 590px; }
  .character__block {
    align-items: flex-start; }
  .img--body {
    left: 3px;
    top: 5px; }
  .img--wheel {
    height: 53px;
    top: 3px; }
  .img--power {
    left: 5px;
    top: 7px; }
  .img--weight {
    left: 1px;
    top: -5px; }
  .character__text {
    margin: -14px 0 0 3px;
    text-align: left; }
  .block--2 {
    width: 215px; }
  .title--wheel {
    margin-top: 20px; }
  .text--wheel {
    margin-top: -16px; }
  .title--power {
    margin-top: 24px; }
  .text--power {
    margin-left: 5px;
    width: 315px; }
  .title--weight {
    margin-top: 11px; }
  .br__mob {
    display: none; }
  .consumer__block {
    background: #3a2ff8 url(../img/consumer-back.jpg) no-repeat 0 0;
    display: flex;
    flex-direction: column;
    margin-top: 184px;
    padding-bottom: 100px; }
  .consumer__title {
    padding: 7px 0 0 96px; }
  .consumer__img {
    margin-left: 10px; }
  .consumer__text {
    line-height: 24px;
    padding: 17px 0 0 22px;
    width: 322px; }
  .consumer__text--2 {
    margin: 17px 0 0 0;
    width: 248px; }
  .consumer__title {
    text-align: left; }
  .consumer__wrapper {
    align-items: flex-start;
    display: flex;
    padding: 0 70px; }
  .catalog__btn {
    margin: 31px 0 0 247px; } }

@media (min-width: 1200px) {
  .container {
    width: 1920px; }
  body {
    background: url(../img/intro-back.jpg) no-repeat 0 65px, url(../img/body-back.jpg) no-repeat 1440px 940px, url(../img/body-back.jpg) no-repeat 1440px 4500px, url(../img/intro-back.jpg) no-repeat 0 2225px; }
  .header__block {
    min-height: 100px;
    padding: 0 375px; }
  .nav__block {
    width: 1920px; }
  .nav__list {
    padding: 0 376px 0 0; }
  .nav__list:first-child {
    margin-left: 1046px; }
  .nav__item {
    font-size: 14px; }
  .intro__block {
    background: url(../img/arrow-part-2.jpg) no-repeat 768px 225px, url(../img/arrow-part.jpg) no-repeat 783.5px 153px, url(../img/arrow-2-intro.jpg) no-repeat 785px 153.5px, url(../img/arrow-intro.jpg) no-repeat 404px 584px, url(../img/video-1-desk.jpg) no-repeat 100% 0;
    padding: 133px 375px 45px 375px; }
  .intro__title {
    font-size: 80px;
    letter-spacing: 5.5px;
    line-height: 95px;
    width: 660px; }
  .intro__moto {
    bottom: 32px;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 30px;
    width: 330px; }
  .watch__btn {
    font-size: 12px;
    left: 783px; }
  .img--watch {
    right: 12px;
    top: -5px;
    height: 82px;
    width: 80px; }
  .section__title {
    font-size: 20px;
    left: -25px;
    top: 236.5px; }
  .feature__block {
    justify-content: flex-start;
    margin-top: 93px;
    position: relative; }
  .design-info__wrapper {
    padding: 165px 0 0 40px;
    width: 300px; }
  .feature__title {
    font-size: 40px;
    letter-spacing: 2.5px; }
  .feature__text {
    font-size: 18px;
    margin-top: -3px;
    padding: 0 0 0 58px;
    width: 300px; }
  .feature__characters {
    padding-top: 5px; }
  .character__item {
    font-size: 18px;
    line-height: 31px;
    padding: 0 0 4px 62px;
    width: 250px; }
  .feature__video {
    height: 750px;
    width: 745px; }
  .design__video {
    background: url(../img/video-2-desk.jpg) no-repeat 0 0; }
  .pagination {
    display: flex;
    font-size: 1px;
    position: absolute;
    right: 83px;
    top: 317px; }
  .pagination__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    position: relative; }
    .pagination__list::before {
      background: #3a30f8;
      content: '';
      height: 325px;
      position: absolute;
      top: 120px;
      width: 1px; }
    .pagination__list::after {
      background: #3a30f8;
      content: '';
      height: 325px;
      position: absolute;
      bottom: 110px;
      width: 1px; }
  .pag__item {
    background: #3a30f8;
    border: none;
    border-radius: 50%;
    height: 7px;
    margin: 7.5px;
    width: 7px; }
    .pag__item:hover {
      background: none;
      border: 2px solid #3a30f8;
      height: 15px;
      outline-color: transparent;
      text-align: center;
      width: 15px; }
  .pag__item a {
    color: transparent;
    font-size: 14px; }
  .pag--active {
    background: none;
    border: 2px solid #3a30f8;
    height: 15px;
    text-align: center;
    width: 15px; }
  .color__block {
    background: url(../img/arrow-part-2.jpg) no-repeat 58px 215px, url(../img/arrow-part.jpg) no-repeat 57.5px 503px, url(../img/shadow-desk.png) no-repeat 10px 565px, url(../img/shadow-2.png) no-repeat 15px 645px, url(../img/shadow-2.png) no-repeat 235px 585px, url(../img/color-arr-1.jpg) no-repeat 58px 215.5px;
    display: flex;
    flex-direction: column;
    margin: -487px 0 0 1164px;
    padding: 68px 105px 300px 0;
    width: 400px; }
  .color__text {
    margin-left: -2px;
    line-height: 28px;
    width: 240px; }
  .color__img {
    height: 300px;
    margin: 90px 0 0 10px;
    position: relative;
    width: 374px;
    z-index: -1; }
  .color__list {
    right: 123px;
    top: 346px;
    transform: rotate(0deg); }
  .indicators__block {
    background: url(../img/video-3-desk.jpg) no-repeat center 100%, url(../img/indicator-arr.jpg) no-repeat 498px 13px, url(../img/indicator-arr-2.jpg) no-repeat 498px 13px, url(../img/arrow-part.jpg) no-repeat 497.5px 373px;
    margin-top: -440px;
    padding: 0 0 425px 513px; }
  .indicators__text {
    font-size: 18px;
    line-height: 30px;
    margin-top: -2px;
    padding: 0 0 0 61px;
    width: 440px; }
  .text--2 {
    margin-top: -8px; }
  .watch--indicators {
    left: 495px;
    top: 383px; }
  .br__desk {
    display: block; }
  .modes__block {
    background: url(../img/video-4-desk.jpg) no-repeat 100% 150px, url(../img/modes-arr.jpg) no-repeat 645px 256px, url(../img/modes-arr-2.jpg) no-repeat 798px 256px, url(../img/arrow-part.jpg) no-repeat 797.5px 728px;
    padding: 75px 0 342px 280px; }
  .modes__text {
    margin-top: -2px;
    line-height: 28px;
    width: 360px; }
  .modes__item {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 28px 5px;
    width: 350px; }
    .modes__item::before {
      left: -40px;
      top: 7px;
      width: 30px; }
  .modes__table {
    margin-top: 100px;
    padding-left: 55px;
    width: 500px; }
  .cell__value {
    font-size: 60px;
    padding-bottom: 23px; }
  .value__system {
    font-size: 24px; }
  .value--two {
    bottom: 4px;
    padding-left: 58px; }
  .cell__name {
    bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    position: relative; }
  .cell__text {
    font-size: 16px;
    width: 100px; }
  .modes__video {
    display: none; }
  .modes--watch {
    left: 795px;
    top: 737px; }
  .text--speed {
    margin-left: 53px; }
  .blocks__wrapper {
    background: url(../img/battery-arr.jpg) no-repeat 828px 163px, url(../img/battary-arr-2.jpg) no-repeat 743px 163px, url(../img/indicator-arr-2.jpg) no-repeat 794px 417px, url(../img/arrow-part.jpg) no-repeat 743px 162px;
    display: flex;
    justify-content: space-between;
    padding: 0 370px 0 353px; }
  .battery__block {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 0;
    width: 520px; }
  .battery__wrapper {
    margin-top: -2px; }
  .battery__img {
    margin: -120px 0 0 10px; }
  .battery__table {
    left: 90px;
    padding-bottom: 12px;
    top: 230px; }
  .name__battery-2 {
    left: 37px; }
  .name__battery--1,
  .name__battery-2 {
    bottom: 13px;
    padding-top: 0; }
  .value--battery {
    padding-bottom: 21px; }
  .battery--2 {
    right: -30px; }
  .system--2 {
    padding-left: 16px; }
  .battery__title {
    letter-spacing: 3px;
    padding: 52px 0 0 20px; }
  .battery__text {
    font-size: 18px;
    line-height: 30px;
    margin-top: -5px;
    padding: 0 0 0 22px;
    width: 510px; }
  .br__tab {
    display: none; }
  .electronic__block {
    padding-top: 0;
    width: 430px; }
  .electronic__wrapper {
    flex-direction: column;
    margin-top: -25px; }
  .video-electronic__block {
    order: 2; }
  .electronic__title {
    letter-spacing: 3px; }
  .electronic__text {
    font-size: 18px;
    line-height: 30px;
    margin-top: -5px;
    padding: 0;
    width: 410px; }
  .text--type2 {
    margin-top: -8px;
    width: 430px; }
  .electronic__list {
    flex-direction: row;
    justify-content: space-between;
    margin: 21px 0 0 -58px;
    width: 300px; }
  .electronic__img--1 {
    height: 60px;
    margin-left: 15px;
    width: 80px; }
  .electronic__img--2 {
    height: 32px;
    width: 100px; }
  .img__text {
    font-size: 16px;
    line-height: 24px;
    margin: 19px 0 0 15px; }
  .electronic--2 {
    left: -8px; }
  .electronic__video {
    background: url(../img/electronic-video-desk.jpg) no-repeat;
    height: 280px;
    margin: 18px 0 0 -180px;
    width: 400px; }
  .electronic--play {
    left: -30px;
    top: 105px; }
  .design--btn {
    left: 320px;
    top: 322px; }
  .characters__block {
    align-items: flex-start;
    background: url(../img/characters-back.jpg) no-repeat 0 195px;
    margin-top: -2px;
    padding-bottom: 60px;
    position: relative; }
  .character__wrapper {
    padding-left: 455px; }
  .characters__title {
    left: -311px;
    top: 218px; }
  .hovertrax__title {
    font-size: 40px;
    letter-spacing: 1px;
    margin: 274px 0 0 -82px;
    width: 745px; }
  .char__num {
    letter-spacing: -7.5px; }
  .character__wrapper-2 {
    margin-top: 40px;
    padding-left: 900px;
    width: 700px; }
  .character__block {
    align-items: flex-start;
    min-width: 330px; }
  .character__title {
    font-size: 18px;
    line-height: 30px;
    margin: -31px 0 0 -2px; }
  .character__text {
    font-size: 16px;
    line-height: 24px;
    margin: 14px 0 0 -5px; }
  .img--body {
    height: 67px;
    left: -65px;
    width: 90px;
    z-index: -1; }
  .img--wheel {
    height: 70px;
    left: -77px;
    width: 70px;
    z-index: -1; }
  .img--power {
    height: 53px;
    left: -53px;
    width: 68px;
    z-index: -1; }
  .img--weight {
    height: 68px;
    left: -68px;
    width: 63px;
    z-index: -1; }
  .title--wheel {
    margin: -34px 0 0 -23px; }
  .text--wheel {
    margin: 15px 0 0 -25px;
    width: 235px; }
  .title--power {
    margin-top: -21px; }
  .text--power {
    margin-left: 5px 0 0 -10px;
    width: 255px; }
  .title--weight {
    margin: -37px 0 0 -25px; }
  .text--weight {
    margin-left: -24px;
    width: 250px; }
  .pag--character {
    top: 520px; }
  .consumer__block {
    background: #3a2ff8 url(../img/consumer-back-desk.jpg) no-repeat 0 0;
    flex-direction: row;
    margin-top: 210px;
    padding-bottom: 77px; }
  .consumer__img {
    margin-left: 735px;
    order: 1; }
  .consumer__info {
    order: 2;
    margin: 68px 0 0 -1555px; }
  .consumer__wrapper {
    flex-direction: column;
    font-size: 18px;
    padding: 0;
    width: 385px; }
  .consumer__title {
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: -90px; }
  .consumer__text {
    line-height: 30px;
    padding: 57px 0 0 10px;
    width: 342px; }
  .consumer__text--2 {
    margin: -55px 0 0 0;
    width: 288px; }
  .catalog__btn {
    font-size: 16px;
    margin: 94px 0 0 5px; } }
