@charset "UTF-8";
/*Шрифты*/
@font-face {
  font-family: "Cinzel";
  src: url("../fonts/CinzelDecorative/CinzelDecorative.woff") format("woff"), url("../fonts/CinzelDecorative/CinzelDecorative.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Cinzel";
  src: url("../fonts/CinzelDecorative/CinzelDecorativeBlack.woff") format("woff"), url("../fonts/CinzelDecorative/CinzelDecorativeBlack.woff") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Amiri";
  src: url("../fonts/Amiri/AmiriItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Amiri";
  src: url("../fonts/Amiri/AmiriRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

/*Цвета*/
/*Каркас*/
body {
  color: #b4ba98;
  font-family: Amiri, sans-serif;
  font-size: 24px;
  line-height: 48px;
  margin: 0;
  padding: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 2000px; }

.header__block {
  background: #1a1c0f url(../img/Photo-Overlay.png) no-repeat; }

.header__box {
  background: rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1060px; }

.header__logo {
  color: transparent;
  display: block;
  font-size: 1px;
  background: url(../img/texture-logo.png) no-repeat 0 0, url(../img/Logo-back.png) no-repeat 0 0;
  background-blend-mode: multiply;
  margin-top: 120px;
  height: 162px;
  width: 153px; }

.header__title {
  color: #fff;
  font-family: Cinzel, sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  margin: 139px 0 0 0;
  position: relative; }
  .header__title::before {
    background: #cdb378;
    content: '';
    height: 4px;
    position: absolute;
    right: 191.5px;
    top: 32px;
    width: 242px; }
  .header__title::after {
    background: #cdb378;
    content: '';
    height: 4px;
    left: 189.5px;
    position: absolute;
    top: 32px;
    width: 242px; }

.header__quote {
  color: #fff;
  font-family: Cinzel, sans-serif;
  font-size: 36px;
  line-height: 60px;
  margin: 10px 0; }

.header__quote-author {
  color: #cdb378;
  margin-left: -6px; }

.header__view {
  color: #cdb378;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  margin-top: 310px;
  position: relative; }
  .header__view::before {
    background: #cdb378;
    content: '';
    height: 1px;
    left: 49px;
    position: absolute;
    top: 35px;
    transform: rotate(45deg);
    width: 13px; }
  .header__view::after {
    background: #cdb378;
    content: '';
    height: 1px;
    left: 59px;
    position: absolute;
    top: 35px;
    transform: rotate(135deg);
    width: 13px; }
