/*Подвал*/

.footer__block {
  background: $grey;
  margin-top: 82px;
  padding: 60px 0 48px 0;
  position: relative;
  width: 100%;
  &::before {
    background: $grey;
    content: '';
    height: 323px;
    left: -140px;
    position: absolute;
    top: 0;
    width: 1440px;
    z-index: -1;
  }
}

.footer__box-top,
.footer__box-mid,
.footer__box-bot{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__box-mid {
  margin-top: 9px;
}

.footer__box-bot {
  margin-top: 46px;
}

.footer--logo {
  color: $logoColor;
  letter-spacing: .3px;
}

.footer__user-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 1px;
}

.footer__user-list .user__item {
  color: $wh;
  margin-left: 33.5px;
}

.footer__user-list .item--user {
  background: url(../img/index/user-footer.svg) no-repeat 2px 3px;
  margin-right: 0;
}

.footer__user-list .item--compare {
  background: url(../img/index/compare-footer.svg) no-repeat 11px 5.5px;
}

.footer__user-list .item--cort {
  background: url(../img/index/cart-footer.svg) no-repeat 7px 3.5px;
}

.footer__nav-list {
  display: flex;
  list-style: none;
  margin: 20px 0 0 -32px;
  padding-left: 0;
}

.footer__nav-list .nav__item {
  color: $wh;
  margin: 0 16px;
}

.footer__address,
.footer__phone {
  color: $wh;
  font-family: OpenSans,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 8px;
}

.decor__block {
  background: $logoColor;
  height: 7px;
  width: 80px;
}

.media__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: -75px;
}

.media__item {
  margin-left: 22px;
  opacity: .3;
  &:hover,
  &:focus {
    opacity: .6;
    outline: none;
  }
  &:active {
    opacity: .1;
  }
}

.html__item {
  &:hover,
  &:focus {
    opacity: .6;
    outline: none;
  }
  &:active {
    opacity: .3;
  }
}
