/*Инфо*/

.info__block {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.info__title {
  font-size: 47px;
  line-height: 48px;
  margin-bottom: 43px;
}

.info__about,
.info__contacts {
  position: relative;
  &::before {
    background: $bl;
    content: '';
    height: 7px;
    position: absolute;
    top: -6px;
    width: 80px;
  }
}

.info__text {
  color: $grey;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 30px;
  margin-bottom: 30px;
  width: 478px;
}

.info__text--2 {
  letter-spacing: -.2px;
  width: 460px;
}

.info__text--3 {
  width: 520px;
}

.info__list {
  list-style: none;
  margin-top: 78px;
  padding-left: 36px;
}

.info__item {
  margin-bottom: 22px;
  position: relative;
  &::before {
    border: 2px solid $grey2;
    border-radius: 50%;
    content: '';
    height: 4px;
    left: -34px;
    position: absolute;
    top: 5.5px;
    width: 4px;
  }
}

.info__map {
  margin-top: 10px;
}

.info--btn {
  margin-top: 65px;
  width: 260px;
  &::before {
    width: 260px;
  }
}

