/*Слайдер*/

.slider__block {
  margin-top: -140px;
  padding: 0 80px;
  position: relative;
}

.slide {
  display: flex;
  justify-content: space-between;
}

%-whiteBlock {
  &::after {
    background: $wh;
    content: '';
    height: 7px;
    position: absolute;
    right: 380px;
    top: 37px;
    width: 100px;
  }
}

.slide--1 {
  position: relative;
  &::before{
    background: url(../img/index/01.png);
    content: '';
    height: 125px;
    position: absolute;
    right: -20px;
    top: 7px;
    width: 167px;
    z-index: -1;
  }
  @extend %-whiteBlock;
}

.slide--2 {
  position: relative;
  &::before{
    background: url(../img/index/02.png);
    content: '';
    height: 125px;
    position: absolute;
    right: -23px;
    top: 9px;
    width: 198px;
    z-index: -1;
  }
  @extend %-whiteBlock;
}

.slide--3 {
  position: relative;
  &::before{
    background: url(../img/index/03.png);
    content: '';
    height: 125px;
    position: absolute;
    right: -23px;
    top: 9px;
    width: 198px;
    z-index: -1;
  }
  @extend %-whiteBlock;
}

.slide__img {
  margin-left: 12px;
}

.slide__info {
  padding-top: 40px;
  width: 480px;
}

.slide__title {
  font-size: 47px;
  letter-spacing: .5px;
  line-height: 56px;
  margin-bottom: 0;
  width: 400px;
}

.slide__text {
  color: $grey;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: .12px;
  line-height: 30px;
  margin-top: 20px;
}

.slide__table {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  width: 445px;
}

.slide__table td,
.slide__table th {
  padding-bottom: 5px;
  text-align: left;
}

.cell__value {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  width: 146px;
}

.cell__name {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.cell--1 {
  left: -1px;
  position: relative;
}

.cell--2 {
  left: 10px;
  position: relative;
}

.slider__options {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 600px;
  position: absolute;
  top: 311px;
  width: 480px;
}

.options__btn {
  align-items: center;
  color: $bl;
  display: flex;
  font-size: 18px;
  height: 40px;
  justify-content: center;
  letter-spacing: 3.6px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  width: 220px;
  &::before {
    background: $orang;
    content: '';
    height: 8px;
    position: absolute;
    width: 220px;
    z-index: -1;
  }
  &:hover,
  &:focus {
    background: $orang;
    outline: none;
  }
  &:active {
    color: $blAct;
  }
}

.options__list {
  display: flex;
  list-style: none;
  margin-right: 3px;
}

.option__item {
  background: $wh;
  border: 1px solid $bl;
  border-radius: 50%;
  color: transparent;
  display: flex;
  font-size: 2px;
  height: 10px;
  margin-left: 21px;
  width: 10px;
  &:focus {
    outline: 3px solid $orang;
  }
}

.option--active {
  position: relative;
  &::before {
    border: 1px solid $bl;
    border-radius: 50%;
    content: '';
    left: 3px;
    height: 2px;
    position: absolute;
    top: 3px;
    width: 2px;
  }
}

.slide__img--2 {
  margin: 10px 0 0 35px;
}

.text--2 {
  width: 440px;
}

.slide--2 .cell--1 {
  width: auto;
}

.slide__img--3 {
  margin: 65px 0 0 -48px;
}

.title--2 {
  width: 550px;
}

.text--3 {
  width: 450px;
}

.hidden {
  display: none;
}




