@charset "UTF-8";
/*Шрифты*/
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Mono-Regular.ttf") format("truetype"), url("../fonts/Rubik/Rubik-Mono-Regular.woff") format("woff"), url("../fonts/Rubik/Rubik-Mono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

/*Каркас*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  margin: 0;
  padding: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 320px; }

.hidden {
  color: transparent;
  font-size: 1px;
  position: absolute; }

@media (min-width: 770px) {
  .container {
    width: 768px; } }

/*Шапка*/
.header__block {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 70px;
  padding: 0 20px 0 15px; }

.header__logo:hover, .menu__btn:hover, .nav__item:hover, .watch__btn:hover, .video-play__btn:hover, .header__logo:focus, .menu__btn:focus, .nav__item:focus, .watch__btn:focus, .video-play__btn:focus {
  opacity: .6;
  outline-color: transparent; }

.header__logo:active, .menu__btn:active, .nav__item:active, .watch__btn:active, .video-play__btn:active {
  opacity: .3; }

.header__logo {
  height: 30px;
  width: 120px; }

.header__anchor:focus {
  outline-color: transparent; }

.menu__btn {
  background: transparent url(../img/menu.jpg) no-repeat 0 0;
  border: none;
  color: transparent;
  font-size: 1px;
  height: 21px;
  width: 30px; }

@media (min-width: 768px) {
  .header__block {
    min-height: 100px;
    padding: 0 22px 0 22px; }
  .header__logo {
    height: 39px;
    position: relative;
    width: 157px;
    z-index: 10; }
  .menu__btn {
    display: none; } }

/*Навигация*/
.nav__block {
  -ms-flex-align: center;
      align-items: center;
  display: none;
  -ms-flex-direction: column;
      flex-direction: column; }

.nav--show {
  display: -ms-flexbox;
  display: flex; }

.nav__list {
  list-style: none;
  padding-left: 0;
  width: 100%; }

.nav__item {
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #000;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-weight: bold;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 40px;
  text-decoration: none;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .nav__block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    position: absolute;
    top: 0;
    width: 768px;
    z-index: 2; }
  .nav__list {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: 10px;
    padding: 0 22px 0 0; }
  .nav__list:first-child {
    margin-left: 300px; }
  .nav__item {
    border-bottom: none;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 80px;
    padding-left: 9px;
    position: relative; }
    .nav__item::before {
      background: #3a30f8;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 50px;
      width: 20px; }
  .item--2 {
    margin-left: 10px; } }

/*Интро*/
.intro__block {
  background: url(../img/intro-fon.jpg) no-repeat 0 0;
  color: rgba(255, 255, 255, 0.8);
  min-height: 317px;
  padding: 113px 10px 0 10px; }

.intro__title {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 36px; }

.title__number {
  letter-spacing: -5px;
  padding-bottom: 0; }

.intro__moto {
  bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  width: 200px; }

.watch__btn {
  display: none; }

@media (min-width: 768px) {
  .intro__block {
    background: url(../img/arrow-part-2.jpg) no-repeat 235px 225px, url(../img/arrow-part.jpg) no-repeat 249.5px 153px, url(../img/arrow-2-intro.jpg) no-repeat 250px 153px, url(../img/arrow-intro.jpg) no-repeat 53px 580px, url(../img/intro-fon-tab.jpg) no-repeat 100% 0;
    color: #000;
    min-height: 573px;
    padding: 197px 22px 0 22px;
    position: relative; }
  .intro__title {
    font-size: 64px;
    letter-spacing: 5px;
    line-height: 78px;
    margin-left: -4px;
    width: 520px; }
  .title__number {
    letter-spacing: -10px; }
  .intro__moto {
    bottom: 18px;
    font-size: 14px;
    width: 230px; }
  .watch__btn {
    color: #000;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 81px;
    letter-spacing: 1px;
    left: 245px;
    line-height: 14px;
    position: absolute;
    top: 65px;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(270deg);
    width: 75px; }
  .img--watch {
    position: relative;
    right: 5px;
    transform: rotate(90deg); } }

/*Преимущества*/
.features__block {
  padding-top: 12px; }

.section__title {
  color: #3a30f8;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .section__title {
    left: 125px;
    position: relative;
    top: 159.5px; } }

/*Дизайн*/
.feature__title {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: center; }

.feature__text {
  line-height: 30px;
  padding: 8px 0 0 40px;
  width: 215px; }

.feature__characters {
  list-style: none;
  padding-top: 7px; }

.character__item {
  line-height: 25px;
  margin-bottom: 14px;
  padding-left: 38px;
  position: relative; }
  .character__item::before {
    background: #000;
    content: '';
    left: .5px;
    height: 5px;
    position: absolute;
    top: 11px;
    width: 30px; }

.feature__video {
  display: none; }

@media (min-width: 768px) {
  .feature__block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: 0; }
  .design-info__wrapper {
    padding-top: 170px;
    width: 380px; }
  .feature__video {
    display: block;
    height: 600px;
    width: 375px; }
  .design__video {
    background: url(../img/poster-video-2-tab.jpg) no-repeat 0 0; }
  .feature__title {
    padding-left: 60px;
    text-align: left; }
  .feature__text {
    line-height: 30px;
    padding: 6px 0 0 58px; }
  .character__item {
    padding-left: 58px;
    width: 200px; }
    .character__item::before {
      left: 17px;
      height: 5px;
      position: absolute;
      top: 11px;
      width: 30px; }
  .video-play__btn .design--btn {
    top: 250px; } }

/*Цвет*/
.color__block {
  padding-top: 33px; }

.color__text {
  line-height: 22.2px; }

.color__list {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 13px 0 0 50px; }

.color__block input[type='radio'] {
  margin: 10px 0 0 7px;
  opacity: 0;
  position: absolute;
  z-index: -1; }

.color__block input[type='radio'] + label {
  cursor: pointer;
  padding: 0 0 15px 45px;
  position: relative; }

.color__block input[type='radio'] + label::before {
  border-radius: 50%;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: -6px;
  width: 20px; }

.color__block input[type='radio']:hover + label::before,
.color__block input[type='radio']:focus + label::before {
  opacity: .5;
  outline-color: transparent; }

.color__block input[type='radio'] + label::after {
  background: url(../img/arrow-part2.png) no-repeat center 100%, url(../img/arrow-part1.png) no-repeat center 0;
  content: "";
  height: 50px;
  left: 13px;
  opacity: 0;
  position: absolute;
  top: 20px;
  width: 10px; }

.color__block input[type='radio']:checked + label::after {
  opacity: 1; }

#yellow + label::before {
  background: #e2e837;
  left: -9px; }

#yellow + label::after {
  left: -5px; }

#blue + label::before {
  background: #00b6f1;
  left: -3px; }

#blue + label::after {
  left: 2px; }

#red + label::before {
  background: #e23232; }

#red + label::after {
  left: 5px; }

#grey + label::before {
  background: #f0efef;
  left: 3px; }

#grey + label::after {
  left: 8px; }

#black + label::before {
  background: #0c0c0c;
  left: 9px; }

.color__img {
  margin: 30px 0 0 10px; }

@media (min-width: 768px) {
  .color__block {
    padding: 68px 105px 0 0;
    position: relative; }
  .color-info__wrapper {
    padding: 100px 0 0 54px;
    width: 170px; }
  .color__text {
    line-height: 24px;
    width: 165px; }
  .color__list {
    right: -100px;
    position: absolute;
    top: 206px;
    transform: rotate(90deg); } }

/*Индикаторы*/
.indicators__block {
  background: url(../img/indicators-back.jpg) no-repeat center 100%;
  padding: 52px 0 275px 0; }

.indicators__text {
  line-height: 24px;
  padding: 6px 0 0 11px; }

.text--2 {
  margin-top: -10px; }

@media (min-width: 768px) {
  .indicators__block {
    background: url(../img/poster-video-3-tab.jpg) no-repeat center 100%;
    padding: 82px 0 347px 53px;
    position: relative; }
  .indicators__text {
    padding: 6px 0 0 61px;
    width: 570px; }
  .text--2 {
    width: 570px; }
  .carry {
    display: none; }
  .watch--indicators {
    left: 70px;
    top: 453px; } }

/*<source media="(min-width: 1200px)" srcset="img/photo1-desk.jpg">*/
/*Режимы*/
.modes__block {
  background: url(../img/modes-back.jpg) no-repeat center 100%;
  padding: 52px 0 342px 0; }

.modes__text {
  line-height: 25px;
  margin-top: -5px;
  width: 220px; }

.hovertrax {
  font-weight: bold; }

.modes__list {
  list-style: none;
  padding: 12px 0 0 80px; }

.modes__item {
  line-height: 22px;
  margin-bottom: 20px;
  position: relative; }
  .modes__item::before {
    background: #000;
    content: '';
    height: 5px;
    left: -38px;
    position: absolute;
    top: 7px;
    width: 20px; }

.modes__table {
  -ms-flex-align: baseline;
      align-items: baseline;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 50px;
  padding-left: 30px;
  width: 320px; }

.cell__value {
  color: #3a30f8;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 13px; }

.value__system {
  font-size: 18px; }

.cell__name {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  padding-left: 10px;
  text-align: left; }

@media (min-width: 768px) {
  .modes__block {
    background: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 52px 0 125px 0;
    position: relative; }
  .modes__wrapper {
    padding: 130px 0 0 30px;
    width: 250px; }
  .modes__text {
    margin-top: 2px;
    line-height: 24px;
    padding-left: 61px; }
  .modes__list {
    padding: 12px 0 0 100px; }
  .modes__item {
    width: 175px; }
  .modes__table {
    padding-left: 55px; }
  .value--two {
    position: relative;
    bottom: 3px; }
  .cell__name {
    padding-left: 8px; }
  .modes__video {
    background: url(../img/video-4-tab.jpg) no-repeat 0 0;
    height: 600px;
    margin-top: 50px;
    width: 394px; }
  .modes--watch {
    left: 328px;
    top: 597px; } }

/*Аккумулятор*/
.battery__block {
  padding-top: 55px; }

.battery__text {
  line-height: 24px;
  padding: 5px 0 0 11px; }

.battery__table {
  padding: 23px 0 0 32px; }

.value--battery {
  width: 150px; }

.name__battery--1 {
  padding-left: 5px; }

.name__battery-2 {
  padding-left: 2px; }

.battery__img {
  margin: -25px 0 0 10px; }

@media (min-width: 768px) {
  .battery__block {
    display: -ms-flexbox;
    display: flex;
    padding-top: 0; }
  .battery__wrapper {
    -ms-flex-order: 1;
        order: 1; }
  .battery__title {
    padding-left: 34px; }
  .battery__text {
    line-height: 24px;
    padding: 5px 0 0 31px;
    width: 353px; }
  .battery__table {
    left: 55px;
    position: relative;
    top: 215px; }
  .battery__img {
    left: 10px;
    margin: -110px 0 0 10px;
    position: relative; }
  .name__battery-2 {
    right: 6px;
    position: relative; }
  .battery--2 {
    position: relative;
    right: 7px; } }

/*<source media="(min-width: 1200px)" srcset="img/battery-desk.png">*/
/*Электроника*/
.electronic__block {
  padding-top: 50px; }

.electronic__text {
  line-height: 25px;
  padding: 5px 0 0 21px;
  width: 260px; }

.text--type2 {
  margin-top: -11px;
  width: 275px; }

.electronic__list {
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px; }

.electronic__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.electronic__img--1 {
  height: 42px;
  margin-left: 15px;
  width: 54px; }

.electronic__img--2 {
  height: 22px;
  margin-left: 2px;
  width: 69px; }

.img__text {
  color: #666666;
  font-size: 14px;
  line-height: 18px;
  margin: 19px 0 0 15px; }

.type--2 {
  margin-left: 3px; }

.electronic__video {
  background: url(../img/electronic-poster-mob.jpg) no-repeat;
  height: 275px;
  margin-top: 28px;
  width: 320px; }

.video__wrapper {
  position: relative; }

.video-play__btn {
  background: rgba(255, 255, 255, 0.8) url(../img/play.png) no-repeat center center;
  border: none;
  border-radius: 50%;
  height: 60px;
  left: 130px;
  position: absolute;
  top: 138px;
  width: 60px; }

@media (min-width: 768px) {
  .electronic__block {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .electronic__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-order: 1;
        order: 1;
    margin-top: 33px;
    width: 578px; }
  .electronic__title {
    padding-left: 0; }
  .electronic__text {
    padding: 5px 0 0 0; }
  .electronic__list {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 46.5px 123px 0 0; }
  .electronic__item {
    margin-bottom: 38px;
    width: 80px; }
  .electronic--2 {
    left: 15px;
    position: relative; }
  .electronic__video {
    background: url(../img/video-3-tab.jpg) no-repeat;
    height: 275px;
    margin-top: 65px;
    width: 578px; }
  .video-play__btn {
    background: rgba(255, 255, 255, 0.8) url(../img/play-tab.png) no-repeat 35px center;
    height: 100px;
    left: 113px;
    top: 250px;
    width: 100px; }
  .electronic--play {
    left: 240px;
    top: 155px; } }

/*Характеристики*/
.characters__block {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 31px; }

.hovertrax__title {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 36px;
  margin-top: 15px;
  text-align: center;
  width: 200px; }

.char__num {
  margin-left: -6px; }

.character__block {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 22px;
  padding-top: 23px; }

.img--body {
  height: 51px;
  position: relative;
  top: 5px;
  width: 68px; }

.img--wheel {
  height: 53px;
  position: relative;
  top: 5px;
  width: 53px; }

.img--power {
  height: 40px;
  position: relative;
  top: 10px;
  width: 49px; }

.img--weight {
  height: 52px;
  position: relative;
  top: 5px;
  width: 47px; }

.character__title {
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: uppercase; }

.character__text {
  font-size: 14px;
  line-height: 25px;
  margin: -14px 0 0 -2px;
  text-align: center;
  width: 295px; }

.text--wheel {
  width: 210px; }

.title--power {
  margin-top: 26px; }

.text--power {
  width: 270px; }

.title--weight {
  margin-top: 24px; }

.text--weight {
  width: 215px; }

@media (min-width: 768px) {
  .characters__block {
    background: url(../img/character-back.jpg) no-repeat 0 105px; }
  .character__wrapper {
    padding-left: 465px; }
  .characters__title {
    left: -80px;
    top: 130px; }
  .hovertrax__title {
    margin: 166px 0 0 -80px;
    text-align: left; }
  .char__num {
    letter-spacing: -2.5px;
    margin-left: 0; }
  .character__wrapper-2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: 70px;
    width: 590px; }
  .character__block {
    -ms-flex-align: start;
        align-items: flex-start; }
  .img--body {
    left: 3px;
    top: 5px; }
  .img--wheel {
    height: 53px;
    top: 3px; }
  .img--power {
    left: 5px;
    top: 7px; }
  .img--weight {
    left: 1px;
    top: -5px; }
  .character__text {
    margin: -14px 0 0 3px;
    text-align: left; }
  .block--2 {
    width: 215px; }
  .title--wheel {
    margin-top: 20px; }
  .text--wheel {
    margin-top: -16px; }
  .title--power {
    margin-top: 24px; }
  .text--power {
    margin-left: 5px;
    width: 315px; }
  .title--weight {
    margin-top: 11px; }
  .br__mob {
    display: none; } }

/*Потребители*/
/*<source media="(min-width: 1200px)" srcset="img/consumers-desk.png">*/
.consumer__block {
  background: #3a2ff8;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 110px;
  padding-bottom: 80px; }

.consumer__img {
  margin-top: -65px; }

.consumer__title {
  font-size: 14px;
  letter-spacing: .8px;
  line-height: 30px;
  margin: 19px 0 0 -2px;
  text-align: center;
  text-transform: uppercase; }

.consumer__text {
  line-height: 24px;
  padding: 9px 0 0 11px; }

.consumer__text--2 {
  margin-top: -13px;
  width: 248px; }

.catalog__btn {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-align: center;
      align-items: center;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 1, 0.2);
  color: #3a2ff8;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  -ms-flex-pack: center;
      justify-content: center;
  letter-spacing: 1.2px;
  line-height: 30px;
  margin-top: 28px;
  min-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  width: 270px; }
  .catalog__btn:hover, .catalog__btn:focus {
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 1, 0.2);
    outline: none; }
  .catalog__btn:active {
    opacity: .8; }

@media (min-width: 768px) {
  .consumer__block {
    margin-top: 184px; }
  .consumer__img {
    margin-left: 10px; }
  .consumer__title {
    font-size: 14px;
    letter-spacing: .8px;
    line-height: 30px;
    margin: 19px 0 0 -2px;
    text-align: left;
    text-transform: uppercase; } }

/*Футер*/
.footer__block {
  background: #292929;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: -12px; }

.footer__text {
  color: #605f5f;
  font-size: 12px;
  line-height: 30px;
  text-align: center; }
