/*Фильтр*/

.filter__block {
  background: $filterBack;
  margin: 30px 0 0 25px;
  padding-top: .1px;
  position: relative;
  width: 300px;
  &::before {
    background: $filterBack;
    content: "";
    height: 200vh;
    right: 0;
    position: absolute;
    width: 468px;
    z-index: -1;
  }
}

.filter__title {
  font-size: 16px;
  letter-spacing: 3.5px;
  line-height: 24px;
  margin: 23px 0 93px 35px;
  text-transform: uppercase;
}

.filter__block fieldset {
  border: none;
  border-top: 2px solid black;
  margin-left: 33px;
  padding-left: 0;
  position: relative;
  width: 189px;
}

.field__title {
  font-size: 18px;
  position: absolute;
  top: 12px;
}

/*Поле стоимости*/
.cost__field {
  padding-bottom: 33.5px;
  padding-top: 79px;
}

.cost__range {
  background: transparent;
  color: transparent;
  position: absolute;
  height: 40px;
  left: 50%;
  text-align: center;
  top: 50px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 240px;
  white-space: nowrap;
  z-index: 100;
}

.cost-level__value {
  display: none;
}

.cost-level__line {
  background: $rangeColor;
  font-size: 0;
  height: 2px;
  left: 25px;
  right: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cost-level__pin {
  background: $wh;
  border-radius: 50%;
  box-shadow: 0 2px 0 $pinShadow;
  cursor: move;
  height: 21px;
  left: 0;
  margin: -12.5px 0 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 21px;
  z-index: 1;
  &::before {
    background: $inputText;
    border-radius: 50%;
    content: '';
    height: 4px;
    left: 9px;
    position: absolute;
    top: 8.5px;
    width: 4px;
  }
}

.pin--2 {
  left: 57%;
}

.cost-level__depth {
  background-color: $costColor;
  height: 100%;
  position: absolute;
  width: 60%;
}

.output__value {
  color: $output;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.output__max,
.output__min {
  width: 90px;
}

/*Поле цвета*/
.color__field {
  padding-bottom: 21px;
  padding-top: 63px;
}

.color__item {
  margin-bottom: 21.5px;
}

.color__field input[type='checkbox'] {
  margin: 0 0 0 7px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.color__field input[type='checkbox'] + label {
  cursor: pointer;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 0 0 15px 40px;
  position: relative;
}

.color__field input[type='checkbox'] + label::before {
  background: transparent;
  border: 2px solid $bl;
  border-radius: 3px;
  content: "";
  height: 19px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 19px;
}

.color__field input[type='checkbox']:hover + label::before,
.color__field input[type='checkbox']:focus + label::before {
  opacity: .6;
  outline: none;
}

.color__field input[type='checkbox'] + label::after {
  content: "";
  height: 17px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 1px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 22px;
}

.color__field input[type='checkbox']:checked + label::after {
  background: url(../img/catalog/checkbox-on.svg) no-repeat center;
  opacity: 1;
}

.color__field input[type='checkbox']:hover + label::after {
  opacity: .6;
}

/*Bluetooth поле*/
.bluetooth__field {
  padding-top: 63px;
}

.bluetooth__item {
  margin-bottom: 21.5px;
}

.bluetooth__field input[type='radio'] {
  margin: 0 0 0 7px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.bluetooth__field input[type='radio'] + label {
  cursor: pointer;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 0 0 15px 40px;
  position: relative;
}

.bluetooth__field input[type='radio'] + label::before {
  background: transparent;
  border: 4px solid $bl;
  border-radius: 50%;
  content: "";
  height: 17px;
  left: 0;
  position: absolute;
  top: -3.5px;
  width: 17px;
}

.bluetooth__field input[type='radio']:hover + label::before,
.bluetooth__field input[type='radio']:focus + label::before {
  opacity: .6;
  outline: none;
}

.bluetooth__field input[type='radio'] + label::after {
  background: $bl;
  border-radius: 50%;
  content: "";
  height: 9px;
  left: 7.5px;
  opacity: 0;
  position: absolute;
  top: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 9px;
}

.bluetooth__field input[type='radio']:checked + label::after {
  opacity: 1;
}

.bluetooth__field input[type='radio']:hover + label::after {
  opacity: .6;
}

.btn--filter {
  background: transparent;
  border: none;
  font-weight: 900;
  margin: 10px 0 0 35px;
  position: relative;
  width: 200px;
  z-index: 1;
  &::before {
    width: 200px;
    z-index: -1;
  }
}

.item__disabled {
  opacity: .25;
}
