/*Сортировка*/

.sorting__block {
  align-items: center;
  display: flex;
  min-height: 70px;
  position: relative;
  width: 835px;
  &::before {
    background: $bl;
    content: '';
    height: 70px;
    opacity: .08;
    right: -140px;
    position: absolute;
    width: 1440px;
  }
}

.sorting__title {
  font-size: 16px;
  letter-spacing: 3.5px;
  line-height: 24px;
  margin-left: 75px;
  text-transform: uppercase;
}

.sort__list {
  display: flex;
  list-style: none;
  margin: -1px 0 0  12px;
}

.sort__item {
  color: $bl;
  font-family: OpenSans,sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-right: 32.5px;
  opacity: .3;
  text-decoration: none;
  &:hover,
  &:focus {
    opacity: .6;
    outline: none;
  }
  &:active {
    opacity: 1;
  }
}

.sort-nav__list {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.sort-nav__item {
  opacity: .2;
  &:hover,
  &:focus {
    opacity: .4;
    outline: none;
  }
  &:active {
    opacity: 1;
  }
}

.sort__down {
  margin-left: 20px;
}

.sort__down img {
  transform: rotate(180deg);
}

.sort--active {
  opacity: 1;
}
