/*Аккумулятор*/

.battery__block {
  padding-top: 55px;
}

.battery__text {
  line-height: 24px;
  padding: 5px 0 0 11px;
  width: 300px;
}

.battery__table {
  padding: 23px 0 0 32px;
}

.value--battery {
  width: 150px;
}

.name__battery--1 {
  padding-left: 5px;
}

.name__battery-2 {
  padding-left: 2px;
}

.battery__img {
  margin: -25px 0 0 10px;
}

.br__tab {
  display: none;
}

@media (min-width: 768px) {
  .battery__block {
    display: flex;
    padding-top: 0;
  }

  .br__tab {
    display: block;
  }

  .battery__wrapper {
    order: 1;
  }

  .battery__title {
    padding-left: 34px;
  }

  .battery__text {
    line-height: 24px;
    padding: 5px 0 0 31px;
    width: 353px;
  }

  .battery__table {
    left: 55px;
    position: relative;
    top: 215px;
  }

  .battery__img {
    left: 10px;
    margin: -110px 0 0 10px;
    position: relative;
  }

  .name__battery-2 {
    right: 6px;
    position: relative;
  }

  .battery--2 {
    position: relative;
    right: 7px;
  }

}

/*<source media="(min-width: 1200px)" srcset="img/battery-desk.png">*/
