/*Аккумулятор*/

.battery__block {
  padding: 40px 0 1px 0;
}

.battery__text {
  line-height: 24px;
  padding: 5px 0 0 11px;
  width: 300px;
}

.battery__table {
  padding: 23px 0 0 32px;
}

.value--battery {
  width: 150px;
}

.name__battery--1 {
  padding: 12px 0 0 5px;
}

.name__battery-2 {
  padding: 12px 0 0 3px;
}

.battery__img {
  margin: -25px 0 0 10px;
}

.br__tab {
  display: none;
}

@media (min-width: 768px) {
  .battery__block {
    display: flex;
    padding-bottom: 0px;
    padding-top: 0;
  }

  .br__tab {
    display: block;
  }

  .battery__wrapper {
    order: 1;
  }

  .battery__title {
    padding-left: 34px;
  }

  .battery__text {
    line-height: 24px;
    padding: 5px 0 0 31px;
    width: 353px;
  }

  .battery__table {
    left: 55px;
    position: relative;
    top: 215px;
  }

  .battery__img {
    left: 10px;
    margin: -110px 0 0 10px;
    position: relative;
  }

  .value--battery {
    padding-bottom: 3px;
  }

  .name__battery-2 {
    right: 6px;
    position: relative;
  }

  .battery--2 {
    right: 7px;
    position: relative;
  }

}

/*@media (min-width: 1200px) {
  .blocks__wrapper {
    background: url(../img/battery-arr.jpg) no-repeat 828px 163px,
    url(../img/battary-arr-2.jpg) no-repeat 743px 163px,
    url(../img/indicator-arr-2.jpg) no-repeat 794px 417px,
    url(../img/arrow-part.jpg) no-repeat 743px 162px;
    display: flex;
    justify-content: space-between;
    padding: 0 370px 0 353px;
  }

  .battery__block {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 0;
    width: 520px;
  }

  .battery__table {
    left: 90px;
    padding-bottom: 12px;
    top: 230px;
  }

  .name__battery-2 {
    left: 37px;
  }

  .name__battery--1,
  .name__battery-2 {
    bottom: 13px;
    padding-top: 0;
  }

  .value--battery {
    padding-bottom: 0;
  }

  .battery--2 {
    right: -30px;
  }

  .system--2 {
    padding-left: 16px;
  }

  .battery__title {
    letter-spacing: 3px;
    padding: 52px 0 0 20px;
  }

  .battery__text {
    font-size: 18px;
    line-height: 30px;
    margin-top: -5px;
    padding: 0 0 0 22px;
    width: 510px;
  }

  .br__tab {
    display: none;
  }

}*/
