/*Характеристики*/

.characters__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 33px;
}

.hovertrax__title {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 36px;
  margin-top: 25px;
  text-align: center;
  width: 200px;
}

.char__num {
  margin-left: -6px;
}

.character__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  padding-top: 23px;
}

.img--body {
  height: 51px;
  position: relative;
  top: 5px;
  width: 68px;
}

.img--wheel {
  height: 53px;
  position: relative;
  top: 5px;
  width: 53px;
}

.img--power {
  height: 40px;
  position: relative;
  top: 10px;
  width: 49px;
}

.img--weight {
  height: 52px;
  position: relative;
  top: 5px;
  width: 47px;
}

.character__title {
  letter-spacing: 2px;
  line-height: 30px;
  padding-top: 0;
  text-transform: uppercase;
}

.character__text {
  font-size: 14px;
  line-height: 25px;
  margin: -14px 0 0 -2px;
  text-align: center;
  width: 295px;
}

.text--wheel {
  width: 210px;
}

.title--power {
  margin-top: 26px;
}

.text--power {
  width: 270px;
}

.title--weight {
  margin-top: 24px;
}

.text--weight {
  width: 215px;
}

@media (min-width: 768px) {
  .characters__block {
    background: url(../img/character-back.jpg) no-repeat 0 105px;
    margin-top: 3px;
  }

  .character__wrapper {
    padding-left: 465px;
  }

  .characters__title {
    left: -80px;
    top: 130px;
  }

  .hovertrax__title {
    margin: 166px 0 0 -80px;
    text-align: left;
  }

  .char__num {
    letter-spacing: -2.5px;
    margin-left: 0;
  }

  .character__wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    width: 590px;
  }

  .character__block {
    align-items: flex-start;
  }

  .img--body {
    left: 3px;
    top: 5px;
  }

  .img--wheel {
    height: 53px;
    top: 3px;
  }

  .img--power {
    left: 5px;
    top: 7px;
  }

  .img--weight {
    left: 1px;
    top: -5px;
  }

  .character__text {
    margin: -14px 0 0 3px;
    text-align: left;
  }

  .block--2 {
    width: 215px;
  }

  .title--wheel {
    margin-top: 20px;
  }

  .text--wheel {
    margin-top: -16px;
  }

  .title--power {
    margin-top: 24px;
  }

  .text--power {
    margin-left: 5px;
    width: 315px;
  }

  .title--weight {
    margin-top: 11px;
  }

  .br__mob {
    display: none;
  }
}

@media (min-width: 1200px) {
  .characters__block {
    align-items: flex-start;
    background: url(../img/characters-back.jpg) no-repeat 0 195px;
    margin-top: -2px;
    padding-bottom: 60px;
    position: relative;
  }

  .character__wrapper {
    padding-left: 455px;
  }

  .characters__title {
    left: -311px;
    top: 218px;
  }

  .hovertrax__title {
    font-size: 40px;
    letter-spacing: 1px;
    margin: 274px 0 0 -82px;
    width: 745px;
  }

  .char__num {
    letter-spacing: -7.5px;
  }

  .character__wrapper-2 {
    margin-top: 40px;
    padding-left: 900px;
    width: 700px;
  }

  .character__block {
    align-items: flex-start;
    min-width: 330px;
  }

  .character__title {
    font-size: 18px;
    line-height: 30px;
    margin: -31px 0 0 -2px;
  }

  .character__text {
    font-size: 16px;
    line-height: 24px;
    margin: 14px 0 0 -5px;
  }

  .img--body {
    height: 67px;
    left: -65px;
    width: 90px;
    z-index: -1;
  }

  .img--wheel {
    height: 70px;
    left: -77px;
    width: 70px;
    z-index: -1;
  }

  .img--power {
    height: 53px;
    left: -53px;
    width: 68px;
    z-index: -1;
  }

  .img--weight {
    height: 68px;
    left: -68px;
    width: 63px;
    z-index: -1;
  }

  .title--wheel {
    margin: -34px 0 0 -23px;
  }

  .text--wheel {
    margin: 15px 0 0 -25px;
    width: 235px;
  }

  .title--power {
    margin-top: -21px;
  }

  .text--power {
    margin-left: 5px 0 0 -10px;
    width: 255px;
  }

  .title--weight {
    margin: -37px 0 0 -25px;
  }

  .text--weight {
    margin-left: -24px;
    width: 250px;
  }

  .pag--character {
    top: 520px;
  }

}
