/*Цвет*/

.color__block {
  padding-top: 33px;
}

.color__text {
  line-height: 22.2px;
}

.color__list {
  display: flex;
  list-style: none;
  padding: 13px 0 0 50px;
}

.color__block input[type='radio'] {
  margin: 10px 0 0 7px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.color__block input[type='radio'] + label {
  cursor: pointer;
  padding: 0 0 15px 45px;
  position: relative;
}

.color__block input[type='radio'] + label::before {
  border-radius: 50%;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: -6px;
  width: 20px;
}

.color__block input[type='radio']:hover + label::before,
.color__block input[type='radio']:focus + label::before {
  opacity: .5;
  outline-color: transparent;
}

.color__block input[type='radio'] + label::after {
  background: url(../img/arrow-part2.png) no-repeat center 100%,
  url(../img/arrow-part1.png) no-repeat center 0;
  content: "";
  height: 50px;
  left: 13px;
  opacity: 0;
  position: absolute;
  top: 20px;
  width: 10px;
}

.color__block input[type='radio']:checked + label::after {
  opacity: 1;
}

#yellow + label::before {
  background: $yell;
  left: -9px;
}

#yellow + label::after {
  left: -5px;
}

#blue + label::before {
  background: $blue1;
  left: -3px;
}

#blue + label::after {
  left: 2px;
}

#red + label::before {
  background: $red;
}

#red + label::after {
  left: 5px;
}

#grey + label::before {
  background: $grey;
  left: 3px;
}

#grey + label::after {
  left: 8px;
}

#black + label::before {
  background: $bl1;
  left: 9px;
}

.color__img {
  margin: 30px 0 0 10px;
}

@media (min-width: 768px) {
  .color__block {
    padding: 70px 105px 0 0;
    position: relative;
  }

  .color-info__wrapper {
    padding: 100px 0 0 54px;
    width: 170px;
  }

  .color__text {
    line-height: 24px;
    width: 165px;
  }

  .color__list {
    right: -100px;
    position: absolute;
    top: 208px;
    transform: rotate(90deg);
  }
}

/*@media (min-width: 1200px) {
  .color__block {
    background: url(../img/arrow-part-2.jpg) no-repeat 58px 215px,
    url(../img/arrow-part.jpg) no-repeat 57.5px 503px,
    url(../img/shadow-desk.png) no-repeat 10px 565px,
    url(../img/shadow-2.png) no-repeat 15px 645px,
    url(../img/shadow-2.png) no-repeat 235px 585px,
    url(../img/color-arr-1.jpg) no-repeat 58px 215.5px;
    display: flex;
    flex-direction: column;
    margin: -487px 0 0 1164px;
    padding: 68px 105px 300px 0;
    width: 400px;
  }

  .color__text {
    margin-left: -2px;
    line-height: 28px;
    width: 240px;
  }

  .color__img {
    margin: 90px 0 0 10px;
    position: relative;
    z-index: -1;
  }

  .color__list {
    right: 123px;
    top: 346px;
    transform: rotate(0deg);
  }
}*/
