/*Потребители*/

.consumer__block {
  background: $blueBack;
  color: $white;
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  padding-bottom: 80px;
}

.consumer__img {
  margin-top: -65px;
}

.consumer__title {
  font-size: 14px;
  letter-spacing: .8px;
  line-height: 30px;
  margin: 19px 0 0 -2px;
  text-align: center;
  text-transform: uppercase;
}

.consumer__text {
  line-height: 24px;
  padding: 9px 0 0 11px;
}

.consumer__text--2 {
  margin-top: -13px;
  width: 248px;
}

.catalog__btn {
  align-self: center;
  align-items: center;
  background: $white;
  border-radius: 30px;
  box-shadow: 0 5px 5px 0 $shadow;
  color: $blueBack;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 1.2px;
  line-height: 30px;
  margin: 46px 0 0 25px;
  min-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  width: 270px;
  &:hover,
  &:focus {
    box-shadow: inset 0 5px 5px 0 $shadow;
    outline: none;
  }
  &:active {
    opacity: .8;
  }
}

@media (min-width: 768px) {
  .consumer__block {
    background: $blueBack url(../img/consumer-back.jpg) no-repeat 0 0;
    display: flex;
    flex-direction: column;
    margin-top: 184px;
    padding-bottom: 100px;
  }

  .consumer__title {
    padding: 7px 0 0 96px;
  }

  .consumer__img {
    margin-left: 10px;
  }

  .consumer__text {
    line-height: 24px;
    padding: 17px 0 0 22px;
    width: 322px;
  }

  .consumer__text--2 {
    margin: 17px 0 0 0;
    width: 248px;
  }

  .consumer__title {
    text-align: left;
  }

  .consumer__wrapper {
    align-items: flex-start;
    display: flex;
    padding: 0 70px;
  }

  .catalog__btn {
    margin: 31px 0 0 247px;
  }
}

/*@media (min-width: 1200px) {
  .consumer__block {
    background: $blueBack url(../img/consumer-back-desk.jpg) no-repeat 0 0;
    flex-direction: row;
    margin-top: 210px;
    padding-bottom: 77px;
  }

  .consumer__img {
    margin-left: 735px;
    order: 1;
  }

  .consumer__info {
    order: 2;
    margin: 68px 0 0 -1555px;
  }

  .consumer__wrapper {
    flex-direction: column;
    font-size: 18px;
    padding: 0;
    width: 385px;
  }

  .consumer__title {
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: -90px;
  }

  .consumer__text {
    line-height: 30px;
    padding: 57px 0 0 10px;
    width: 342px;
  }

  .consumer__text--2 {
    margin: -55px 0 0 0;
    width: 288px;
  }

  .catalog__btn {
    font-size: 16px;
    margin: 94px 0 0 5px;
  }
}*/


