/*Дизайн*/

.feature__title {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: center;
}

.feature__text {
  line-height: 30px;
  padding: 8px 0 0 40px;
  width: 215px;
}

.feature__characters {
  list-style: none;
  padding-top: 7px;
}

.character__item {
  line-height: 25px;
  margin-bottom: 14px;
  padding-left: 38px;
  position: relative;
  &::before {
    background: $bl;
    content: '';
    left: .5px;
    height: 5px;
    position: absolute;
    top: 11px;
    width: 30px;
  }
}

.feature__video {
  display: none;
}

.design--btn,
.br__desk{
  display: none;
}

@media (min-width: 768px) {
  .feature__block {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .design-info__wrapper {
    padding-top: 170px;
    width: 380px;
  }

  .feature__video {
    display: block;
    height: 600px;
    width: 375px;
  }

  .design__video {
    background: url(../img/poster-video-2-tab.jpg) no-repeat 0 0;
  }

  .feature__title {
    padding-left: 60px;
    text-align: left;
  }

  .feature__text {
    line-height: 30px;
    padding: 6px 0 0 58px;
  }

  .feature__characters {
    padding-top: 8.5px;
  }

  .character__item {
    padding-left: 58px;
    width: 200px;
    &::before {
      left: 17px;
      height: 5px;
      position: absolute;
      top: 11px;
      width: 30px;
    }
  }

  .design--btn {
    display: block;
  }

}

/*@media (min-width: 1200px) {
  .feature__block {
    justify-content: flex-start;
    margin-top: 93px;
    position: relative;
  }

  .design-info__wrapper {
    padding: 165px 0 0 40px;
    width: 300px;
  }

  .feature__title {
    font-size: 40px;
    letter-spacing: 2.5px;
  }

  .feature__text {
    font-size: 18px;
    margin-top: -3px;
    padding: 0 0 0 58px;
    width: 300px;
  }

  .feature__characters {
    padding-top: 5px;
  }

  .character__item {
    font-size: 18px;
    line-height: 31px;
    padding: 0 0 4px 62px;
    width: 250px;
  }

  .feature__video {
    height: 750px;
    width: 745px;
  }

  .design__video {
    background: url(../img/video-2-desk.jpg) no-repeat 0 0;
  }

  .pagination {
    display: flex;
    font-size: 1px;
    position: absolute;
    right: 83px;
    top: 317px;
  }

  .pagination__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    position: relative;
    &::before{
      background: $blue;
      content: '';
      height: 325px;
      position: absolute;
      top: 120px;
      width: 1px;
    }
    &::after{
      background: $blue;
      content: '';
      height: 325px;
      position: absolute;
      bottom: 110px;
      width: 1px;
    }
  }

  .pag__item {
    background: $blue;
    border: none;
    border-radius: 50%;
    height: 7px;
    margin: 7.5px;
    width: 7px;
    &:hover{
      background: none;
      border: 2px solid $blue;
      height: 15px;
      outline-color: transparent;
      text-align: center;
      width: 15px;
    }
  }

  .pag__item a {
    color: transparent;
  }

  .pag--active {
    background: none;
    border: 2px solid $blue;
    height: 15px;
    text-align: center;
    width: 15px;
  }
}*/


