/*Электроника*/

.electronic__block {
  padding-top: 50px;
}

.electronic__text {
  line-height: 25px;
  padding: 5px 0 0 21px;
  width: 260px;
}

.text--type2 {
  margin-top: -11px;
  width: 275px;
}

.electronic__list {
  display: flex;
  margin-top: 30px;
}

.electronic__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.electronic__img--1 {
  height: 42px;
  margin-left: 15px;
  width: 54px;
}

.electronic__img--2 {
  height: 22px;
  margin-left: 2px;
  width: 69px;
}

.img__text {
  color: $grey1;
  font-size: 14px;
  line-height: 18px;
  margin: 19px 0 0 15px;
}

.type--2 {
  margin-left: 3px;
}

.electronic__video {
  background: url(../img/electronic-poster-mob.jpg) no-repeat;
  height: 275px;
  margin-top: 28px;
  width: 320px;
}

.video__wrapper {
  position: relative;
}

.video-play__btn {
  background: $wh url(../img/play.png) no-repeat center center;
  border: none;
  border-radius: 50%;
  height: 60px;
  left: 130px;
  position: absolute;
  top: 138px;
  width: 60px;
  @extend %events-1;
}

@media (min-width: 768px) {
  .electronic__block {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .electronic__wrapper {
    display: flex;
    justify-content: space-between;
    order: 1;
    margin-top: 33px;
    width: 578px;
  }

  .electronic__title {
    padding-left: 0;
  }

  .electronic__text {
    padding: 5px 0 0 0;
  }

  .electronic__list {
    flex-direction: column;
    margin: 46.5px 123px 0 0;
  }

  .electronic__item {
    margin-bottom: 36px;
    width: 80px;
  }

  .electronic--2 {
    left: 15px;
    position: relative;
  }

  .electronic__img--1 {
    margin: 3px 0 0 15px;
  }

  .img__text {
    margin-top: 17px;
  }

  .electronic__video {
    background: url(../img/video-3-tab.jpg) no-repeat;
    height: 275px;
    margin-top: 65px;
    width: 578px;
  }

  .video-play__btn {
    background: $wh url(../img/play-tab.png) no-repeat 35px center;
    height: 100px;
    left: 113px;
    top: 250px;
    width: 100px;
  }

  .electronic--play {
    left: 240px;
    top: 155px;
  }

  .design--btn {
    left: 115px;
    top: 252px;
  }
}

@media (min-width: 1200px) {
  .electronic__block {
    padding-top: 0;
    width: 430px;
  }

  .electronic__wrapper {
    flex-direction: column;
    margin-top: -25px;
  }

  .video-electronic__block {
    order: 2;
  }

  .electronic__title {
    letter-spacing: 3px;
  }

  .electronic__text {
    font-size: 18px;
    line-height: 30px;
    margin-top: -5px;
    padding: 0;
    width: 410px;
  }

  .text--type2 {
    margin-top: -8px;
    width: 430px;
  }

  .electronic__list {
    flex-direction: row;
    justify-content: space-between;
    margin: 21px 0 0 -58px;
    width: 300px;
  }

  .electronic__img--1 {
    height: 60px;
    margin-left: 15px;
    width: 80px;
  }

  .electronic__img--2 {
    height: 32px;
    width: 100px;
  }

  .img__text {
    font-size: 16px;
    line-height: 24px;
    margin: 19px 0 0 15px;
  }

  .electronic--2 {
    left: -8px;
  }

  .electronic__video {
    background: url(../img/electronic-video-desk.jpg) no-repeat;
    height: 280px;
    margin: 18px 0 0 -180px;
    width: 400px;
  }

  .electronic--play {
    left: -30px;
    top: 105px;
  }

  .design--btn {
    left: 320px;
    top: 322px;
  }
}
