/*Электроника*/

.electronic__block {
  padding-top: 50px;
}

.electronic__text {
  line-height: 25px;
  padding: 5px 0 0 21px;
  width: 260px;
}

.text--type2 {
  margin-top: -11px;
  width: 275px;
}

.electronic__list {
  display: flex;
  margin-top: 30px;
}

.electronic__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.electronic__img--1 {
  height: 42px;
  margin-left: 15px;
  width: 54px;
}

.electronic__img--2 {
  height: 22px;
  margin-left: 2px;
  width: 69px;
}

.img__text {
  color: $grey1;
  font-size: 14px;
  line-height: 18px;
  margin: 19px 0 0 15px;
}

.type--2 {
  margin-left: 3px;
}

.electronic__video {
  background: url(../img/electronic-poster-mob.jpg) no-repeat;
  height: 275px;
  margin-top: 28px;
  width: 320px;
}

.video__wrapper {
  position: relative;
}

.video-play__btn {
  background: $wh url(../img/play.png) no-repeat center center;
  border: none;
  border-radius: 50%;
  height: 60px;
  left: 130px;
  position: absolute;
  top: 138px;
  width: 60px;
  @extend %events-1;
}
