/*Преимущества*/

.features__block {
  padding-top: 12px;
}

.section__title {
  color: $blue;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}
