/*Преимущества*/

.features__block {
  padding-top: 12px;
}

.section__title {
  color: $blue;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .section__title {
    left: 125px;
    position: relative;
    top: 159.5px;
  }
}

/*@media (min-width: 1200px) {
  .section__title {
    font-size: 20px;
    left: -25px;
    top: 236.5px;
  }
}*/
