/*Индикаторы*/

.indicators__block {
  background: url(../img/indicators-back.jpg) no-repeat center 100%;
  padding: 52px 0 275px 0;
}

.indicators__text {
  line-height: 24px;
  padding: 6px 0 0 11px;
}

.text--2 {
  margin-top: -10px;
}

@media (min-width: 768px) {
  .indicators__block {
    background: url(../img/poster-video-3-tab.jpg) no-repeat center 100%;
    padding: 82px 0 347px 53px;
    position: relative;
  }

  .indicators__text {
    padding: 6px 0 0 61px;
    width: 570px;
  }

  .text--2 {
    width: 570px;
  }

  .carry {
    display: none;
  }

  .watch--indicators {
    left: 70px;
    top: 453px;
  }
}




