/*Индикаторы*/

.indicators__block {
  background: url(../img/indicators-back.jpg) no-repeat center 100%;
  padding: 52px 0 275px 0;
}

.indicators__text {
  line-height: 24px;
  padding: 6px 0 0 11px;
}

.text--2 {
  margin-top: -10px;
}

@media (min-width: 768px) {
  .indicators__block {
    background: url(../img/poster-video-3-tab.jpg) no-repeat center 100%;
    padding: 82px 0 347px 53px;
    position: relative;
  }

  .indicators__text {
    padding: 6px 0 0 61px;
    width: 570px;
  }

  .text--2 {
    width: 570px;
  }

  .carry {
    display: none;
  }

  .watch--indicators {
    left: 70px;
    top: 453px;
  }
}

/*@media (min-width: 1200px) {
  .indicators__block {
    background: url(../img/video-3-desk.jpg) no-repeat center 100%,
    url(../img/indicator-arr.jpg) no-repeat 498px 13px,
    url(../img/indicator-arr-2.jpg) no-repeat 498px 13px,
    url(../img/arrow-part.jpg) no-repeat 497.5px 373px;
    margin-top: -440px;
    padding: 0 0 425px 513px;
  }

  .indicators__text {
    font-size: 18px;
    line-height: 30px;
    margin-top: -2px;
    padding: 0 0 0 61px;
    width: 440px;
  }

  .text--2 {
    margin-top: -8px;
  }

  .watch--indicators {
    left: 495px;
    top: 383px;
  }

  .br__desk {
    display: block;
  }
}*/




