/*Индикаторы*/

.indicators__block {
  background: url(../img/indicators-back.jpg) no-repeat center 100%;
  padding: 52px 0 275px 0;
}

.indicators__text {
  line-height: 24px;
  padding: 6px 0 0 11px;
}

.text--2 {
  margin-top: -10px;
}

/*<source media="(min-width: 1200px)" srcset="img/photo1-desk.jpg">
                  <source media="(min-width: 770px)" srcset="img/photo1-tab.jpg">*/




