/*Интро*/

.intro__block {
  background: url(../img/intro-fon.jpg) no-repeat 0 0;
  color: $wh;
  min-height: 317px;
  padding: 113px 10px 0 10px;
}

.intro__title {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 36px;
}

.title__number {
  letter-spacing: -5px;
  padding-bottom: 0;
}

.intro__moto {
  bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  width: 200px;
}

.watch__btn {
  display: none;
  @extend %events-1;
}

@media (min-width: 768px) {
  .intro__block {
    background: url(../img/arrow-part-2.jpg) no-repeat 235px 225px,
    url(../img/arrow-part.jpg) no-repeat 249.5px 153px,
    url(../img/arrow-2-intro.jpg) no-repeat 250px 153px,
    url(../img/arrow-intro.jpg) no-repeat 53px 580px,
    url(../img/intro-fon-tab.jpg) no-repeat 100% 0;
    color: $bl;
    min-height: 573px;
    padding: 197px 22px 0 22px;
    position: relative;
  }

  .intro__title {
    font-size: 64px;
    letter-spacing: 5px;
    line-height: 78px;
    margin-left: -4px;
    width: 520px;
  }

  .title__number {
    letter-spacing: -10px;
  }

  .intro__moto {
    bottom: 18px;
    font-size: 14px;
    width: 230px;
  }

  .watch__btn {
    color: $bl;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 81px;
    letter-spacing: 1px;
    left: 245px;
    line-height: 14px;
    position: absolute;
    top: 65px;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(270deg);
    width: 75px;
  }

  .img--watch {
    position: relative;
    right: 5px;
    transform: rotate(90deg);
  }
}

@media (min-width: 1200px) {
  .intro__block {
    background: url(../img/arrow-part-2.jpg) no-repeat 768px 225px,
    url(../img/arrow-part.jpg) no-repeat 783.5px 153px,
    url(../img/arrow-2-intro.jpg) no-repeat 785px 153.5px,
    url(../img/arrow-intro.jpg) no-repeat 404px 584px,
    url(../img/video-1-desk.jpg) no-repeat 100% 0;
    padding: 133px 375px 45px 375px;
  }

  .intro__title {
    font-size: 80px;
    letter-spacing: 5.5px;
    line-height: 95px;
    width: 660px;
  }

  .intro__moto {
    bottom: 32px;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 30px;
    width: 330px;
  }

  .watch__btn {
    font-size: 12px;
    left: 783px;
  }

  .img--watch {
    right: 12px;
    top: -5px;
    height: 82px;
    width: 80px;
  }
}
