/*Интро*/

.intro__block {
  background: url(../img/intro-fon.jpg) no-repeat 0 0;
  color: $wh;
  min-height: 317px;
  padding: 113px 10px 0 10px;
}

.intro__title {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 36px;
}

.title__number {
  letter-spacing: -5px;
  padding-bottom: 0;
}

.intro__moto {
  bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  width: 200px;
}

.intro__video {
  display: none;
}
