/*Режимы*/

.modes__block {
  background: url(../img/modes-back.jpg) no-repeat center 100%;
  padding: 52px 0 342px 0;
}

.modes__text {
  line-height: 25px;
  margin-top: -5px;
  width: 220px;
}

.hovertrax {
  font-weight: bold;
}

.modes__list {
  list-style: none;
  padding: 12px 0 0 80px;
}

.modes__item {
  line-height: 22px;
  margin-bottom: 20px;
  position: relative;
  &::before {
    background: $bl;
    content: '';
    height: 5px;
    left: -38px;
    position: absolute;
    top: 7px;
    width: 20px;
  }
}

.modes__table {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 30px;
  width: 320px;
}

.cell__value {
  color: $blue;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 13px;
}

.value__system {
  font-size: 18px;
}

.cell__name {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  padding-left: 10px;
  text-align: left;
}

@media (min-width: 768px) {
  .modes__block {
    background: none;
    display: flex;
    justify-content: space-between;
    padding: 52px 0 125px 0;
    position: relative;
  }

  .modes__wrapper {
    padding: 130px 0 0 30px;
    width: 250px;
  }

  .modes__text {
    margin-top: 2px;
    line-height: 24px;
    padding-left: 61px;
  }

  .modes__list {
    padding: 12px 0 0 100px;
  }

  .modes__item {
    width: 175px;
  }

  .modes__table {
    padding-left: 55px;
  }

  .value--two {
    position: relative;
    bottom: 3px;
  }

  .cell__name {
    padding-left: 8px;
  }

  .modes__video {
    background: url(../img/video-4-tab.jpg) no-repeat 0 0;
    height: 600px;
    margin-top: 50px;
    width: 394px;
  }

  .modes--watch {
    left: 328px;
    top: 597px;
  }
}

