/*Навигация*/

.nav__block {
  align-items: center;
  display: none;
  flex-direction: column;
}

.nav--show {
  display: flex;
}

.nav__list {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.nav__item {
  align-items: center;
  border-bottom: 1px solid $bl;
  color: $bl;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  min-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  @extend %events-1;
}

@media (min-width: 768px) {
  .nav__block {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    width: 768px;
    z-index: 2;
  }

  .nav__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 22px 0 0;
  }

  .nav__list:first-child {
    margin-left: 300px;
  }

  .nav__item {
    border-bottom: none;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 80px;
    padding-left: 9px;
    position: relative;
    &::before {
      background: $blue;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 50px;
      width: 20px;
    }
  }

  .item--2 {
    margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  .nav__block {
    width: 1920px;
  }

  .nav__list {
    padding: 0 376px 0 0;
  }

  .nav__list:first-child {
    margin-left: 1046px;
  }

  .nav__item {
    font-size: 14px;
  }

}

