/*Шрифты*/

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Mono-Regular.ttf") format("truetype"),
  url("../fonts/Rubik/Rubik-Mono-Regular.woff") format("woff"),
  url("../fonts/Rubik/Rubik-Mono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
  url("../fonts/Roboto/Roboto-Bold.woff") format("woff"),
  url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"),
  url("../fonts/Roboto/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;}

/*Каркас*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.hidden {
  color: transparent;
  font-size: 1px;
  position: absolute;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1920px;
  }

  body {
    background: url(../img/intro-back.jpg) no-repeat 0 65px,
    url(../img/body-back.jpg) no-repeat 1440px 940px;
  }
}

$wh: #fff;
$blue: #3a30f8;
$bl: #000;
$yell: #e2e837;
$blue1: #00b6f1;
$red: #e23232;
$grey: #f0efef;
$grey1: #666666;
$bl1: #0c0c0c;
$wh: rgba(255, 255, 255, .8);
$white: #fff;
$blueBack: #3a2ff8;
$shadow: rgba(0, 0, 1, 0.2);
$footerBack: #292929;
$footerColor: #605f5f;

@import "header__block";
@import "nav__block";
@import "intro__block";
@import "features__block";
@import "design__block";
@import "color__block";
@import "indicators__block";
@import "modes__block";
@import "battery__block";
@import "electronics__block";
@import "characters__block";
@import "consumer__block";
@import "footer__block";


