.quality__block {
  background: url(../img/Photo.jpg) no-repeat 0 0;
  display: flex;
  justify-content: space-between;
  padding-top: 890px;
}

.quality__title {
  font-family: Cinzel, sans-serif;
  font-size: 60px;
  line-height: 72px;
  margin: 135px 0 0 218px;
  width: 525px;
}

.quality__text {
  margin: 78px 0 0 216px;
  width: 685px;
}

.text--2 {
  margin-top: 50px;
}

.quality__img {
  margin-top: -155px;
}


