/*Преимущества*/
.features__block {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.features__quest,
.features__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 43px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.features__title {
  margin: 30px 0 0 0;
}

.features__box {
  background: url(../img/iphone-screen.png) no-repeat center 108.5%,
  url(../img/feature-back.jpg) no-repeat 0 0;
  margin: -10px 0 0 0;
  padding: 103px 0 307px 0;
  width: 100%;
}

.feature {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.feature__title {
  font-size: 18px;
  line-height: 24px;
  margin: 23px 0 0 0;
}

.feature__text {
  line-height: 24px;
  margin: 8px 0 12px 0;
  text-align: center;
  width: 260px;
}


