/*Подвал*/
.footer__block {
  display: none;
}

@media (min-width: 660px) {
  .footer__block {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 127px;
    padding: 0 20px;
  }

  .footer__logo {
    background: url(../img/footer-logo.svg) no-repeat 0 0;
    color: transparent;
    display: block;
    font-size: 1px;
    height: 40px;
    margin-top: -10px;
    width: 150px;
    &:hover,
    &:focus {
      background: url(../img/logo-tab-hov.svg) no-repeat 1px 0;
    }
    &:active {
      opacity: .3;
    }
  }

  .list__media {
    display: flex;
    list-style: none;
    margin: 2px 0 0 -20px;
    padding-left: 0;
  }

  .list__media li {
    margin: 0 6px;
  }

  .media__item {
    align-items: center;
    border: 3px solid $socialBorder;
    border-radius: 50%;
    display: flex;
    height: 45px;
    justify-content: center;
    width: 45px;
    &:hover,
    &:focus {
      border-color: $colorText;
      outline: none;
    }
    &:active {
      opacity: .3;
    }
  }

  .creator__box {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 130px;
  }

  .html-academy {
    background: url(../img/htmlacademy.png) no-repeat 100% center;
    color: transparent;
    font-size: 1px;
    height: 35px;
    width: 28px;
    &:hover,
    &:focus {
      background: url(../img/html-hov.png) no-repeat 100% center;
      outline: none;
    }
    &:active {
      opacity: .3;
    }
  }
}
