/*Пакеты услуг*/
.packets__block {
  align-items: center;
  background: url(../img/feature-back.jpg) no-repeat 0 0;
  display: flex;
  flex-direction: column;
  margin-top: -21px;
  padding: 419px 0 30px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.packets__table {
  border-collapse: collapse;
  position: absolute;
  top: 135px;
}

.packets__table tr{
  display: flex;
}

.table__title {
  background: $colorText;
  border-left: 1px solid $tableBorder;
  border-right: 1px solid $tableBorder;
  color: $wh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  min-height: 80px;
  padding-top: 18px;
  text-transform: uppercase;
  width: 274px;
}

.title__price {
  font-size: 24px;
  font-weight: 300;
}

.table__cell {
  align-items: center;
  background: $wh;
  border-bottom: 2px solid $tableBorder;
  border-left: 1px solid $tableBorder;
  border-right: 1px solid $tableBorder;
  display: flex;
  height: 57px;
  padding-left: 22px;
  text-transform: uppercase;
  width: 254px;
}

.hit--packet {
  position: relative;
  &::before {
    background: url(../img/hit.png) no-repeat 0 0;
    content: '';
    height: 70px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 100px;
  }
  &::after {
    content: 'Хит';
    color: $wh;
    font-size: 14px;
    font-weight: 600;
    height: 70px;
    left: -12px;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 100px;
  }
}

.cell--yes {
  position: relative;
  &::before {
    background: $yesColor;
    content: '';
    height: 3px;
    position: absolute;
    right: 34px;
    top: 35px;
    transform: rotate(45deg);
    width: 15px;
  }
  &::after {
    background: $yesColor;
    border-radius: 6px;
    content: '';
    height: 3px;
    position: absolute;
    right: 14px;
    top: 30px;
    transform: rotate(135deg);
    width: 26px;
  }
}

.cell--not {
  position: relative;
  &::before {
    background: $noColor;
    content: '';
    height: 3px;
    position: absolute;
    right: 13px;
    top: 26px;
    transform: rotate(45deg);
    width: 35px;
  }
  &::after {
    background: $noColor;
    border-radius: 6px;
    content: '';
    height: 3px;
    position: absolute;
    right: 13px;
    top: 26px;
    transform: rotate(135deg);
    width: 35px;
  }
}

.list--packets {
  margin-top: 33px;
}

.hidden {
  display: none;
}
