/*Отзывы*/
.reviews__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.review {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.review__author {
  font-size: 18px;
  line-height: 31.5px;
  margin: 43px 0 0 0;
}

.review__text {
  margin-top: 13px;
  text-align: center;
  width: 280px;
}

.slider__list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.slide__btn {
  background: $colorText;
  border: 3px solid $wh;
  border-radius: 50%;
  color: transparent;
  display: flex;
  font-size: 1px;
  height: 6px;
  margin: 5px 6px;
  opacity: .3;
  width: 6px;
  &:hover,
  &:focus {
    opacity: .6;
    outline: none;
  }
  &:active {
    opacity: .1;
  }
}

.slide--active {
  background: $wh;
  border-color: $colorText;
  opacity: 1;
}

.author__info {
  display: none;
}

.slide-btn__desk {
  display: none;
}

@media (min-width: 660px) {
  .review__author {
    order: 1;
  }

  .author__info {
    display: block;
    order: 2;
    margin-top: 2px;
  }

  .review__text {
    font-size: 18px;
    margin-top: 97px;
    width: 620px;
  }

  .review__author {
    font-size: 20px;
    margin: 17px 0 0 0;
  }

  .slider__list {
    margin-top: 15px;
  }
}

@media (min-width: 1200px) {
  .review {
    background: url(../img/quote.svg) no-repeat center 65px;
    background-size: 80px 78px;
  }

  .review__text {
    line-height: 31px;
    margin-top: 185px;
    width: 690px;
  }

  .review__author {
    font-size: 24px;
  }

  .author__info {
    font-size: 18px;
  }

  .slider__list {
    display: none;
  }

  .slide-btn__desk {
    background: transparent;
    border: none;
    color: transparent;
    display: block;
    font-size: 1px;
    height: 45px;
    left: 130px;
    opacity: .3;
    position: absolute;
    top: 212px;
    width: 23px;
    &::before {
      background: $colorText;
      content: '';
      height: 2px;
      left: -4px;
      position: absolute;
      top: 32px;
      transform: rotate(45deg);
      width: 30px;
    }
    &::after {
      background: $colorText;
      content: '';
      height: 2px;
      left: -4px;
      position: absolute;
      top: 12px;
      transform: rotate(135deg);
      width: 30px;
    }
    &:hover,
    &:focus {
      opacity: .6;
      outline: none;
    }
    &:active {
      opacity: .1;
    }
  }

  .previous--slide {
    left: 1045px;
    transform: rotate(180deg);
  }
}

