/*Время действия*/
.time__block {
  display: none;
}

.desk__gap {
  display: none;
}

@media (min-width: 660px) {
  .time__block {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    &::before {
      color: $pink;
      content: '24';
      font-size: 96px;
      font-weight: bold;
      left: 85px;
      position: absolute;
      top: 195px;
    }
    &::after {
      border: 13px solid $pink;
      border-radius: 50%;
      content: '';
      height: 175px;
      position: absolute;
      top: 115px;
      left: 40px;
      width: 175px;
      z-index: 10;
    }
  }

  .timer__img {
    margin-top: 60px;
    height: 277px;
    width: 238px;
  }

  .time__info {
    width: 310px;
  }

  .time__title {
    font-size: 30px;
    line-height: 36px;
    padding-top: 67px;
    margin-bottom: 0;
    width: 168px;
  }

  .time__text {
    line-height: 24px;
    margin: 10px 0 8px 0;
    width: 297px;
  }

  .time__more {
    color: $pink;
    &:hover,
    &:focus {
      color: $bl;
      outline: none;
    }
    &:active {
      opacity: .3;
      text-decoration: none;
    }
  }
}

@media (min-width: 1200px) {
  .time__block {
    background: $featureBack;
    padding: 0 20px 67px 0;
    &::before {
      font-size: 120px;
      left: 210px;
      top: 230px;
    }
    &::after {
      border: 17px solid $pink;
      height: 218px;
      top: 125px;
      left: 153px;
      width: 218px;
    }
  }

  .timer__img {
    margin: 55px 0 0 128px;
    height: 345px;
    width: 300px;
  }

  .time__info {
    margin-top: 116px;
    width: 685px;
  }

  .time__title {
    padding-top: 0;
    width: 100%;
  }

  .time__text {
    font-size: 18px;
    line-height: 30px;
    margin: 21px 0 32px 0;
    width: 552px;
  }

  .desk__gap {
    display: block;
  }

  .time__more {
    font-size: 18px;
  }
}
