/*Шрифты*/

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/Regular/OpenSans.woff2") format("woff2"),
  url("../fonts/OpenSans/Regular/OpenSans.woff") format("woff"),
  url("../fonts/OpenSans/Regular/OpenSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/Light/OpenSansLight.woff2") format("woff2"),
  url("../fonts/OpenSans/Light/OpenSansLight.woff") format("woff"),
  url("../fonts/OpenSans/Light/OpenSansLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/Bold/OpenSansBold.woff2") format("woff2"),
  url("../fonts/OpenSans/Bold/OpenSansBold.woff") format("woff"),
  url("../fonts/OpenSans/Bold/OpenSansBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/SemiBold/OpenSansSemiBold.woff2") format("woff2"),
  url("../fonts/OpenSans/SemiBold/OpenSansSemiBold.woff") format("woff"),
  url("../fonts/OpenSans/SemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*Цвета*/

$colorText: #283645;
$headerBack: rgba(0, 0, 0, .3);
$wh: #fff;
$pink: #d22856;
$bl: #000;
$navBorder: #485461;
$introBack: #1d2631;
$pinkAct: rgba(210, 40, 86, .3);
$slideBtn: #bec2c7;
$tableBorder: #e5e5e5;
$yesColor: #3dc644;
$noColor: #f25b26;
$socialBorder: #e9ebec;
$featureBack: #f2f2f2;

/*Каркас*/

body {
  color: $colorText;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.container {
  background: url(../img/index/back-mobile.jpg) no-repeat 0 0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.title__hidden {
  color: transparent;
  font-size: 1px;
  position: absolute;
}

@media (min-width: 660px) {
  .container {
    background: url(../img/index/back-tab.jpg) no-repeat 0 0;
    width: 660px;
  }
}

@media (min-width: 1200px) {
  .container {
    background: url(../img/index/back-desk.jpg) no-repeat 0 0;
    position: relative;
    width: 1200px;
  }
}

@import "common/header__block";
@import "index/intro__block";
@import "index/features__block";
@import "index/time__block";
@import "index/reviews__block";
@import "index/packets__block";
@import "index/contacts__block";
@import "common/footer__block";

