.serveses__block {
  margin-top: 100px;
}

.serves__list {
  list-style: none;
  padding-left: 0;
}

.serves__btn {
  background: $bl;
  border: none;
  color: $yell2;
  font-size: 18px;
  height: 40px;
  line-height: 24px;
  text-transform: uppercase;
  width: 277px;
  margin-bottom: 20px;
}
