/*Шрифты*/

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/GilroyExtraBold.woff") format("woff"),
  url("../fonts/Gilroy/GilroyExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/GilroyLight.woff") format("woff"),
  url("../fonts/Gilroy/GilroyLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans.woff") format("woff"),
  url("../fonts/OpenSans/OpenSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSansLight.woff") format("woff"),
  url("../fonts/OpenSans/OpenSansLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;}

/*Каркас*/

body {
  font-family: Gilroy, sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

/*Цвета*/

$bl: #000;

@import "header__block";
