/*Шрифты*/

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/GilroyExtraBold.woff") format("woff"),
  url("../fonts/Gilroy/GilroyExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/GilroyLight.woff") format("woff"),
  url("../fonts/Gilroy/GilroyLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans.woff") format("woff"),
  url("../fonts/OpenSans/OpenSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSansLight.woff") format("woff"),
  url("../fonts/OpenSans/OpenSansLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;}

/*Каркас*/

body {
  font-family: Gilroy, sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

/*Цвета*/

$bl: #000;
$blHov: rgba(0, 0, 0, .6);
$blAct: rgba(0, 0, 0, .3);
$wh: #fff;
$whAct: rgba(255, 255, 255, .3);
$yell: #f7e296;
$orang: #f0c52e;
$yell2: #f7e184;
$grey: #464646;
$servesBack: #e5e5e5;
$grey2: #e6e6e6;
$logoColor: #ffc600;
$inputColor: #f2f2f2;
$inputHover: #eaeaea;
$inputText: #adadad;
$invalid: #f6dada;
$shadow: rgba(0, 0, 0, .2);

@import "header__block";
@import "slider__block";
@import "popular__block";
@import "serveses__block";
@import "brands__block";
@import "info__block";
@import "footer__block";
@import "modals__block";
