/*Преимущества*/
.features__block {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.features__quest,
.features__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 43px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.features__title {
  margin: 30px 0 0 0;
}

.features__box {
  background: url(../img/index/iphone-screen.png) no-repeat center 108.5%,
  url(../img/index/feature-back.jpg) no-repeat 0 0;
  margin: -10px 0 0 0;
  padding: 103px 0 307px 0;
  width: 100%;
}

.feature {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.feature__title {
  font-size: 18px;
  line-height: 24px;
  margin: 23px 0 0 0;
}

.feature__text {
  line-height: 24px;
  margin: 8px 0 12px 0;
  text-align: center;
  width: 260px;
}

.tab__gap {
  display: none;
}

.desk__gap {
  display: none;
}

@media (min-width: 660px) {
  .features__block {
    background: url(../img/index/smile.jpg) no-repeat 33px 304px,
    url(../img/index/iphone-screen-tab.jpg) no-repeat 20px 138%,
    url(../img/index/feature-back-tab.jpg) no-repeat 0 215px;
  }

  .features__quest,
  .features__title {
    font-size: 40px;
    line-height: 48px;
    margin-top: 50px;
  }

  .features__title {
    margin: 0;
    width: 340px;
  }

  .features__box {
    background: none;
    margin: -5px 0 0 310px;
    padding: 103px 0 30px 0;
    width: 310px;
  }

  .feature {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .feature__text {
    line-height: 24px;
    margin: 10px 0 13px 0;
    text-align: left;
    width: 310px;
  }

  .tab__gap {
    display: block;
  }
}

@media (min-width: 1200px) {
  .features__block {
    background: url(../img/index/screen-smile.jpg) no-repeat 835px 365px,
    url(../img/index/screen-pink.jpg) no-repeat 515px 365px,
    url(../img/index/screen-grey.jpg) no-repeat 192px 365px,
    url(../img/index/iphone-feature-desk.png) no-repeat center 325px,
    url(../img/index/iphone-feature-desk.png) no-repeat 185px 325px,
    url(../img/index/iphone-feature-desk.png) no-repeat 825px 325px,
    url(../img/index/feature-back-desk.jpg) no-repeat 0 320px;
  }

  .features__quest,
  .features__title {
    font-size: 50px;
    line-height: 59px;
    margin-top: 69px;
  }

  .features__title {
    margin: 1px;
    width: 420px;
  }

  .features__box {
    display: flex;
    justify-content: space-between;
    margin: 378px 0 0 0;
    padding: 0;
    width: 910px;
  }

  .feature {
    align-items: center;
    background: $featureBack;
    padding-top: 32px;
    position: relative;
    width: 270px;
    z-index: 20;
    &::before {
      background: url(../img/index/shadow.png) no-repeat center -3px;
      content: '';
      height: 5px;
      position: absolute;
      top: -5px;
      width: 270px;
      z-index: 10;
    }
  }

  .feature__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 225px;
  }

  .feature__text {
    font-size: 18px;
    line-height: 30px;
    margin: 26px 0 13px 0;
    text-align: center;
    width: 249px;
  }

  .tab__gap {
    display: none;
  }
}


