/*Интро*/
.intro__block {
  background: url(../img/index/iphone.png) no-repeat 0 174px,
  url(../img/index/screen.jpg) no-repeat center 208px,
  url(../img/index/back-mobile.jpg) no-repeat 0 0;
  margin-top: -66px;
  padding-top: 461px;
  position: relative;
  z-index: 1;

}

.intro__info {
  align-items: center;
  background: $introBack;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.intro__btn {
  align-items: center;
  border: 3px solid $wh;
  border-radius: 30px;
  color: $wh;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 49px;
  line-height: 18px;
  justify-content: center;
  margin-top: 27px;
  text-decoration: none;
  width: 275px;
  &:hover,
  &:focus {
    background: $wh;
    color: $pink;
    outline: none;
  }
  &:active {
    color: $pinkAct;
  }
}

.platform__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 32px;
  padding-left: 0;
  width: 207px;
}

.platform__list li {
  align-items: flex-end;
  display: flex;
}

.intro__text {
  color: $wh;
  font-weight: 300;
  line-height: 24px;
  margin-top: 8px;
  text-align: center;
  width: 233px;
}

.intro__moto {
  display: none;
}

@media (min-width: 660px) {
  .intro__block {
    background: url(../img/index/iphone-tab.png) no-repeat 0 bottom,
    url(../img/index/screen-tab.jpg) no-repeat 370px 238px,
    url(../img/index/back-tab.jpg) no-repeat 0 0;;
    margin-top: -110px;
    padding: 162px 0 75px 0;
  }

  .intro__info {
    background: none;
    margin-left: 20px;
    width: 300px;
  }

  .intro__moto {
    color: $wh;
    display: block;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    width: 190px;
  }

  .intro__btn {
    margin-top: -7px;
    width: 290px;
  }

  .platform__list {
    margin-top: 43px;
  }

  .intro__text {
    font-size: 18px;
    margin-top: 25px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .intro__block {
    background: url(../img/index/iphone-desk.png) no-repeat 145px bottom,
    url(../img/index/screen-desk.jpg) no-repeat 715px 270px,
    url(../img/index/back-desk.jpg) no-repeat 0 0;
    padding: 169px 0 85px 0;
  }

  .intro__moto {
    font-size: 50px;
    line-height: 60px;
    width: 235px;
  }

  .intro__info {
    margin-left: 120px;
    width: 320px;
  }

  .intro__btn {
    margin-top: 0;
    font-size: 21px;
  }

  .platform__list {
    margin-top: 66px;
  }

  .intro__text {
    margin-top: 45px;
  }
}

