/*Пакеты услуг*/
.packets__block {
  align-items: center;
  background: url(../img/index/feature-back.jpg) no-repeat 0 0;
  display: flex;
  flex-direction: column;
  margin-top: -21px;
  padding: 419px 0 30px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.packets__table {
  border-collapse: collapse;
  left: -535px;
  position: absolute;
  top: 135px;
}

.packets__table tr{
  display: flex;
}

.table__title {
  background: $colorText;
  border-left: 1px solid $tableBorder;
  border-right: 1px solid $tableBorder;
  color: $wh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  min-height: 80px;
  padding-top: 18px;
  text-transform: uppercase;
  width: 274px;
}

.title__price {
  font-size: 24px;
  font-weight: 300;
}

.table__cell {
  align-items: center;
  background: $wh;
  border-bottom: 2px solid $tableBorder;
  border-left: 1px solid $tableBorder;
  border-right: 1px solid $tableBorder;
  display: flex;
  height: 57px;
  padding-left: 21px;
  text-transform: uppercase;
  width: 255px;
}

.hit--packet {
  position: relative;
  &::before {
    background: url(../img/index/hit.png) no-repeat 0 0;
    content: '';
    height: 70px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 100px;
  }
  &::after {
    content: 'Хит';
    color: $wh;
    font-size: 14px;
    font-weight: 600;
    height: 70px;
    left: -12px;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 100px;
  }
}

.cell--yes {
  position: relative;
  &::before {
    background: $yesColor;
    content: '';
    height: 3px;
    position: absolute;
    right: 37px;
    top: 34px;
    transform: rotate(45deg);
    width: 15px;
  }
  &::after {
    background: $yesColor;
    border-radius: 6px;
    content: '';
    height: 3px;
    position: absolute;
    right: 17px;
    top: 29px;
    transform: rotate(135deg);
    width: 26px;
  }
}

.cell--not {
  position: relative;
  &::before {
    background: $noColor;
    content: '';
    height: 3px;
    position: absolute;
    right: 18px;
    top: 26px;
    transform: rotate(45deg);
    width: 35px;
  }
  &::after {
    background: $noColor;
    border-radius: 6px;
    content: '';
    height: 3px;
    position: absolute;
    right: 18px;
    top: 26px;
    transform: rotate(135deg);
    width: 35px;
  }
}

.list--packets {
  margin-top: 33px;
}

.hidden {
  display: none;
}

@media (min-width: 660px) {
  .packets__block {
    background: url(../img/index/feature-back-tab.jpg) no-repeat 0 0;
    padding: 110px 0 65px 0;
  }

  .packets__table {
    position: static;
  }

  .table__title {
    border-radius: 3px;
    font-size: 16px;
    min-height: 66px;
    padding-top: 14px;
    width: 152px;
  }

  .title__price {
    font-size: 18px;
    margin-top: -2px;
  }

  .table__cell {
    display: flex;
    height: 43px;
    padding-left: 17px;
    text-transform: none;
    width: 136px;
  }

  .empty--cell {
    visibility: hidden;
  }

  .hit--packet {
    &::before {
      background: url(../img/index/hit-small.png) no-repeat 0 0;
      left: 0;
    }
    &::after {
      left: -17px;
      top: -1px;
    }
  }

  .cell--yes {
    color: transparent;
    font-size: 1px;
    &::before {
      right: 78px;
      top: 24px;
    }
    &::after {
      right: 59px;
      top: 21px;
    }
  }

  .cell--not {
    color: transparent;
    font-size: 1px;
    &::before {
      right: 59px;
      top: 20px;
    }
    &::after {
      right: 59px;
      top: 20px;
    }
  }

  .list--packets {
    display: none;
  }
}

@media (min-width: 1200px) {
  .packets__block {
    background: url(../img/index/feature-back-desk.jpg) no-repeat 0 30px;
    padding: 192px 0 95px 0;
  }

  .title__price {
    font-size: 24px;
    margin-top: 2px;
  }

  .table__title {
    font-size: 18px;
    min-height: 82px;
    padding-top: 15px;
    width: 231px;
  }

  .hit--packet {
    &::before {
      background: url(../img/index/hit.png) no-repeat 0 0;
    }
    &::after {
      left: -12px;
      top: 5px;
    }
  }

  .table__cell {
    font-size: 18px;
    height: 57px;
    padding-left: 20px;
    width: 212px;
  }

  .cell--yes {
    &::before {
      right: 118px;
      top: 34px;
    }
    &::after {
      right: 99px;
      top: 30px;
    }
  }

  .cell--not {
    &::before {
      right: 100px;
      top: 27px;
    }
    &::after {
      right: 100px;
      top: 27px;
    }
  }
}
